<div class="page-container page-06-04 page-task">
	<section class="page-head">
		<p>Задание 22</p>
	</section>
	<section class="task-set">
		<p class="task-text text">На какой тип внимания лучше опираться на каждом из этапов презентации?</p>
		<p class="text__hint">Переместите каждый этап презентации напротив соответствующего ему типа внимания.</p>
	</section>

	<div ng-controller="SwapListCtrl as $ctrl">
		<div class="task-swap-list" ng-repeat="task in $ctrl.taskExs" ng-if="!$ctrl.showRight">
			<div class="flex-container flex-container_def">
				<p class="text-accent">Тип внимания</p>
				<p class="text-accent">Этап презентации</p>
			</div>

			<ul>
				<div class="task-swap-list_item_wrapper" ng-repeat="item in task.questionList">
					<div class="task-swap-list_item_left">
						<p class="">{{$ctrl.taskData.exs[0].questionList[$index].phrase}}</p>
					</div>
					<li class="task-swap-list_item" data-order="{{item.order}}">{{item.label}}</li>
				</div>
			</ul>
		</div>

		<div class="task-swap-list" ng-repeat="task in $ctrl.taskExs" ng-if="$ctrl.showRight">
			<div class="flex-container flex-container_def">
				<p class="text-accent">Тип внимания</p>
				<p class="text-accent">Этап презентации</p>
			</div>

			<ul>
				<div class="task-swap-list_item_wrapper" ng-repeat="item in task.questionList">
					<div class="task-swap-list_item_left">
						<p class="">{{$ctrl.taskData.exs[0].questionList[$index].phrase}}</p>
					</div>
					<li class="task-swap-list_item" data-order="{{item.order}}">{{$ctrl.taskData.exs[0].questionList[$index].label}}</li>
				</div>
			</ul>
		</div>

		<div class="btn-box" ng-if="!$ctrl.test">
			<button class="btn btn_restart" ng-click="$ctrl.removeRestart()">Начать заново</button>
			<button class="btn btn_answer" ng-class="{'btn_disabled': $ctrl.state == 0 || $ctrl.state == 2}" ng-click="$ctrl.checkAnswer()">Принять ответ</button>
		</div>

	</div>
</div>
