.container {
	padding: 0;
	width: 1000px;
	overflow: hidden;
}

.page010__scheme {
	position: relative;
	padding-top: 10px;
	height: 530px;
}

.page__list {
	padding-left: 28px;
}

.page__item {
	margin-bottom: 7px;
}

.page010__center-block {
	position: absolute;
	top: 219px;
	left: 219px;
	content: '';
	z-index: 2;
	width: 129px;
	height: 126px;
	overflow: hidden;
	background: url(../img/blocks_around.png);
	background-position: -635px -4px;
}
.page010__center-block img{
	z-index:4;
	background: #fff;
	height: 100%;
	width: 100%;
}

.page010__around-block {
	position: absolute;
	top: 221px;
	left: 221px;
	content: '';
	z-index: 1;
	width: 122px;
	height: 122px;
	background: url('../img/blocks_around.png');

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";


	/* Netscape */
	-moz-opacity: 0;

	/* Safari 1.x */
	-khtml-opacity: 0;

	/* Good browsers */
	opacity: 0;
}

.page010__around-block--1 {
	background-position: 0 -5px;
}

.page010__around-block--2 {
	background-position: -127px -6px;
}

.page010__around-block--3 {
	background-position: -254px -6px;
}

.page010__around-block--4 {
	background-position: -382px -6px;
}

.page010__around-block--5 {
	background-position: -509px -6px;
}

.page010__arrow {
	position: absolute;
	content: '';
	z-index: 2;
	background: url('../img/arrows.png');

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";

	zoom:1;

	/* Netscape */
	-moz-opacity: 0;

	/* Safari 1.x */
	-khtml-opacity: 0;

	/* Good browsers */
	opacity: 0;
}

.page010__arrow--1 {
	top: 118px;
	left: 341px;
	width: 81px;
	height: 68px;
	background-position: -315px -4px;
}

.page010__arrow--2 {
	top: 298px;
	left: 418px;
	width: 33px;
	height: 72px;
	background-position: -81px 0;
}

.page010__arrow--3 {
	top: 429px;
	left: 242px;
	width: 82px;
	height: 24px;
	background-position: -115px 0;
}

.page010__arrow--4 {
	top: 300px;
	left: 110px;
	width: 38px;
	height: 71px;
	background-position: -196px 0;
}

.page010__arrow--5 {
	top: 116px;
	left: 143px;
	width: 81px;
	height: 68px;
	background-position: -233px -4px;
}

.page010__big-arrow {
	position: absolute;
	top: 214px;
	left: 520px;
	content: '';
	z-index: 1;
	width: 208px;
	height: 147px;
	background: url('../img/big_arrow_big_circle.jpg');

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

	/* Netscape */
	-moz-opacity: 0;

	/* Safari 1.x */
	-khtml-opacity: 0;

	/* Good browsers */
	opacity: 0;
}

.page010__big-circle {
	content: '';
	position: absolute;
	top: 203px;
	left: 735px;
	z-index: 1;
	width: 176px;
	height: 170px;


	background: url('../img/big_arrow_big_circle.jpg');
	background-position: -207px 0;
	
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

	/* Netscape */
	-moz-opacity: 0;

	/* Safari 1.x */
	-khtml-opacity: 0;

	 /* Good browsers */
	opacity: 0;
}

.page010__main-text {
	margin-top: 50px;
}

.page__text--important {
	margin: 20px 10px;
	padding: 10px;
	border: 2px solid #7c002f;
}

.slide-block__toggle {
  position: relative;
  border-bottom: 2px solid #999;
}

.slide-block__arrow {
  position: absolute;
  top: 0;
  left: 440px;
  content: '';
  margin-top: -2px;
  width: 120px;
  height: 38px;
  background: url('../img/bubble_str.png');
  cursor: pointer;
}

.slide-block__comment {
  position: absolute;
  top: 24px;
  left: 148px;
  content: '';
  width: 286px;
  height: 35px;
  background: url(../img/str_drag1.png);
}

.activated .slide-block__comment {
  position: absolute;
  top: 12px;
  left: 578px;
  content: '';
  width: 241px;
  height: 22px;
  background: url(../img/str_drag2.png);
}

.slide-block__arrow.active {
  background-position: 0 40px;
}