<div class="page-container page-15-02 page-task">
	<section class="page-head">
		<p>Задание 6</p>
	</section>

	<section class="flex-container">
		<p class="task-text">Посмотрите киноэпизод и ответьте на вопрос, какое впечатление сложилось у Ольги после разговора с сотрудником банка Константином:</p>
		<page-video videourl="video/r1.mp4" videoposter="video/posters/01.jpg" suburl="video/subtitles/r1.vtt" videowidth="696" videoheight="572"></page-video>
	</section>

	<div class="task-answer">
		<div></div>
		<div><span class="task-text">Да</span><span class="task-text">Нет</span></div>
	</div>
	<section ng-controller="ManySingleChoiceCtrl as $ctrl">
		<section class="task-set task-many-single-choice">
		  <div class="task" ng-repeat="task in $ctrl.taskExs" ng-init="parentIndex = $index">
		    <p class="text">{{task.taskText}}</p>
		    <div class="task__single-choice-body">
		      <div class="task__single-choice-item" 
		          ng-repeat="question in task.questionList"
		          ng-click="$ctrl.selectAnswer(parentIndex, $index)">
		        <div class="task__single-choice-question task-question" 
		            ng-class="{'radio-selected': $ctrl.active[parentIndex][$index].selected}">
		          <!-- {{question.label}} -->
		        </div>
		      </div>
		    </div>
		  </div>
		</section>
		<div class="btn-box" ng-if="!$ctrl.test">
		  <button class="btn btn_restart" ng-click="$ctrl.removeRestart()">Начать заново</button>
		  <button class="btn btn_answer" ng-class="{'btn_disabled': $ctrl.state == 0 || $ctrl.state == 2}" ng-click="$ctrl.checkAnswer($event)">Принять ответ</button>
		</div>
	</section>

</div>