.container {
	position: relative;
	background: url('../img/38_1.jpg');
  padding-top: 0px;
}

.page__block {
  position: absolute;
  top: 350px;
  left: 17px;
  z-index: 3;
  width: 962px;
  height: 230px;
}

.page__block--bg {
	z-index: 1;
	background: #222;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  /* IE 5-7 */
  filter: alpha(opacity=80);

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Good browsers */
  opacity: 0.8;
}

.page__text {
  padding: 0 10px 0;
  line-height: 1.6;
  color: #fff;
}
.page__text.text-1 {
  padding-top: 10px;
}
.page__text.text-3 {
  padding-bottom: 10px;
}

.printBtn {
  position: absolute;
  left: 50%;
  bottom: 15px;
  background: #7C002F;
  color: #fff;
  font-size: 16px;
  height: 45px;
  border-radius: 5px;
  box-shadow: 0px 3px 4px #222;
  z-index: 3;
  margin-left: -69px;
  line-height: 1;
}
.printBtn:hover {
  background: #fff;
  color: #7C002F;
}