.container {
	position: relative;
	background: url('../img/14_1.jpg')  no-repeat;
	padding-top: 0px;
}
.container_page1{
	position: relative;
	background: url('../img/14_1.jpg')  no-repeat;
	padding-top: 0px;
}
.container_page2{
	display: none;
	position: relative;
	background: url('../img/14_2.jpg')  no-repeat;
	padding-top: 0px;
}
.page__bubble_right_top{
	top: 10px;
	left: 235px;
	height: 60px;
	width: 420px;
}
.page__bubble_left_lower{
	top: 75px;
	left: 320px;
	height: 60px;
	width: 320px;
}
.page__bubble_right_lower1{
	top: 270px;
	left: 490px;
	height: 40px;
	width: 380px;
}
.page__bubble_left_top{
	top: 305px;
	left: 150px;
	height: 40px;
	width: 320px;
}
.page__bubble_right_lower2{
	top: 350px;
	left: 450px;
	height: 40px;
	width: 300px;
}
.page__bubble_down_left{
	left: 225px;
	top: 395px;
	height: 57px;
	width: 550px;
}

.btn-box{
	left:20px;
}
#task-container{
	height: 94px;
}
#task-btns{
	margin-left: 218px;
	/*margin-top: 40px;*/
	margin-top: 29px;
	left: 30px;
}
#task-container {
	/*margin-top: 5px;*/
	padding: 0;
	height: auto;
}
/*.page__wrapper {*/
/*margin-top: 4px;*/
/*}*/

.page__item {
	height: 100%;
	margin: 0;
	padding-left: 38px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: table;
	width: 100%;
}

.page__item p {
	padding: 8px 0px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.page__item-before {
	position: absolute;
	top: 50%;
	left: 0;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	background: url('../img/radiobutton.png');
}

.page__item.selected .page__item-before {
	background-position: 0 42px;
}
.page__item.show-right .page__item-before {
	background-position: 0 42px;
}
.page__text strong {
	font-family: "Arial Bold", sans-serif;
}

.page__text {
	padding: 0px 10px;
}

.disabled {
	color: #999;
}

.page__wrapper--right {
	float: right;
	width: 189px;
	margin-right: 22px;
}

.page__wrapper--left {
	/*float: left;*/
	width: 700px;
	margin-left: 10px;
	height: 125px;
}
.page__item-wrapper1 {
	height: 42px;
	width: 745px;

}
.page__item-wrapper2 {
	//position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	/*display: table-cell;*/
	/*vertical-align: middle;*/
}

.page__item-wrapper--image {
	position: absolute;
	top: 50%;
	left: 35px;
	z-index: -1;
	margin-top: -19px;
}

#task-btns {
	/*text-align:center;*/
}
.contactBtn {
	height: 149px;
	width: 195px;
	background: url(../img/nextBtn3.png);
	display: inline-block;
	position: absolute;
	top: 125px;
	right: 416px;
}
.contactBtn:hover{
	background-position-y: 149px;
}
