.container {
	position: relative;
	background: url('../img/1_1.jpg');
  padding-top: 0px;
}

.page__block {
  position: absolute;
  top: 310px;
  left: 17px;
  z-index: 3;
  content: '';
  /*padding: 10px 5px;*/
  width: 716px;
  height: 280px;
}

.page__block--bg {
	z-index: 1;
	background: #222;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

  /* IE 5-7 */
  filter: alpha(opacity=70);

  /* Netscape */
  -moz-opacity: 0.7;

  /* Safari 1.x */
  -khtml-opacity: 0.7;

  /* Good browsers */
  opacity: 0.7;
}

.page__text {
  padding: 0 10px 0;
  color: #fff;
}
.page__text.text-1 {
  padding-top: 10px;
}
.page__text.text-3 {
  padding-bottom: 10px;
}