@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial.eot");
  src: local('☺'),
  	url("../fonts/Arial.eot?") format("embedded-opentype"),
    url("../fonts/Arial.woff") format("woff"),
    url('../fonts/Arial.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: "BrutalBold";
  src: url("../fonts/BrutalBold.eot");
  src: local('☺'),
  	url("../fonts/BrutalBold.eot?") format("embedded-opentype"),
    url("../fonts/BrutalBold.woff") format("woff"),
    url('../fonts/BrutalBold.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: "BrutalRegular";
  src: url("../fonts/BrutalRegular.eot");
  src: local('☺'),
  	url("../fonts/BrutalRegular.eot?") format("embedded-opentype"),
    url("../fonts/BrutalRegular.woff") format("woff"),
    url('../fonts/BrutalRegular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@page {
	size: landscape;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Arial;
}
#main-preloader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: wait;
}
#intro {
	display: none;
}
#container {
	width: 1024px;
	height: 768px;
	/*border: 1px solid #000;*/
	position: relative;
	background: #f2f2f2;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
	display: none;
}

#page-container-wr {
    /*border: 1px solid #000;*/
    width: 100%;
    height: 608px;
    margin: 47px auto 0px auto;
    position: relative;
    background: url(../img/rama.png);
    padding: 3px 12px 7px 12px;
}
#page-preloader {
	width: 1000px;
	height: 598px;
	position: absolute;
	background: #fff;
	top: 3px;
	left: 12px;
	cursor: wait;
}
.preload-wheel {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 36px;
	height: 36px;
	margin-top: -18px;
	margin-left: -18px;
}
.preload-msg {
	background: url(../img/preloader/pre_txt.png);
	position: absolute;
	top: 50%;
	left: 50%;
	width: 119px;
	height: 20px;
}
#page-container {
	height: 100%;
	width: 100%;
}
#page-container-before-l,
#page-container-after-l,
#page-container-before-r,
#page-container-after-r {
	background: url(../img/wind_all.png);
	position: absolute;
	width: 40px;
	z-index: 2;
}
#page-container-before-l {
	height: 30px;
	top: 0px;
	left: 0px;
}
#page-container-before-r {
	height: 30px;
	top: 0px;
	right: 0px;
	background-position-x: -40px;
	background-position: -40px 0px;
}
#page-container-after-l {
	height: 40px;
	bottom: 0px;
	left: 0px;
	background-position-y: -25px;
	background-position: 0px -25px;
}
#page-container-after-r {
	height: 40px;
	bottom: 0px;
	right: 0px;
	background-position-y: -25px;
	background-position-x: -40px;
	background-position: -40px -25px;
}
#page-title {
	position: absolute;
	top: 75px;
	left: 12px;
	text-transform: uppercase;
}
#page-title p,
#page-num {
	display: inline-block;
	color: #7C002F;
	font-family: BrutalBold;
	font-weight: bold;
	font-size: 25px;
}
#page-num {
	background: url(../img/page_num.png);
	font-size: 32px;
	margin-right: 15px;
	text-align: center;
	width: 47px;
	height: 47px;
	padding-top: 3px;
}
#progress-bar { 
	background: #D0819D;
	height: 5px;
}
#progress-bar .ui-slider-range {
	background: #7C002F;
}
#progress-bar.ui-state-disabled {
	filter: Alpha(Opacity=100);
	opacity: 1;
}
#progress-bar .ui-slider-handle {
	display: none;
}
#progress-bar.ui-widget.ui-widget-content {
	border: none;
}
.paginator {
	position: absolute;
	height: 40px;
	width: 72px;
	bottom: -3px;
	left: 50%;
	z-index: 2;
	background: url(../img/paginaciya.png);
	margin-left: -36px;
	padding-top: 5px;
	font-size: 18px;
	text-align: center;
	color: #7C002F;
}

#header,
#footer {
	background: url(../img/footheadback.jpg);
	height: 60px;
	z-index: 1;
}
#header {
	position: relative;
}
#footer {
	position: absolute;
	height: 40px;
	bottom: 0px;
	width: 100%;
}
#course-title {
	display: inline-block;
	position: relative;
	top: 9px;
	left: 110px;
}
#course-title p {
	color: #fff;
	text-transform: uppercase;
	font-size: 34px;
	font-family: BrutalBold;
}
#logo {
	position: absolute;
	background: url(../img/logo.png);
	width: 75px;
	height: 41px;
	top: 10px;
	left: 11px
}

/* buttons */

#intro-play {
	width: 150px;
	height: 50px;
	background: #FF0080;
	border: 3px solid #3C3D34;
	cursor: wait;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 38px;

	display: none;
}

#menuBtn,
#statsBtn,
#exitBtn,
#helpBtn,
.nextBtn,
.prevBtn,
.closeAssetBtn,
#againBtn,
#continueBtn {
	cursor: pointer;
	position: absolute;
	z-index: 2;
}

#menuBtn {
	background: url(../img/but_menu.png);
	height: 44px;
	width: 86px;
	top: 3px;
	left: 4px;
}
#statsBtn {
	background: url(../img/but_statistic.png);
	height: 44px;
	right: 60px;
	top: 10px;
	width: 54px;
}
#exitBtn {
	background: url(../img/but_close.png);
	height: 44px;
	right: 5px;
	top: 10px;
	width: 54px;
	
}
#helpBtn {
	background: url(../img/but_help.png);
	height: 44px;
	right: 115px;
	top: 10px;
	width: 54px;
}
.nextBtn {
	background: url(../img/but_next.png);
	bottom: -1px;
	height: 38px;
	right: 6px;
	width: 86px;
}
.prevBtn {
	background: url(../img/but_back.png);
	bottom: -1px;
	height: 38px;
	right: 93px;
	width: 86px;
}
.nextBtn.disabled,
.prevBtn.disabled,
.nextBtn.disabled:hover,
.prevBtn.disabled:hover {
	background-position-y: -80px;
	cursor: default;
}
.closeAssetBtn {
	height: 40px;
	width: 54px;
	background: url(../img/but_back_stats.png);
	top: 3px;
	left: 10px;
}
#againBtn,
#continueBtn {
	height: 40px;
	width: 138px;
	background: url(../img/start_again.png);
	display: inline-block;
	position: relative;
}
#continueBtn {
	background: url(../img/continueBtn.png);
}

#closeFeedBtn,
#closeStatsBtn,
#closeHelpBtn {
	top: 8px;
	left: 4px;
}

.closeAssetBtn:hover,
#againBtn:hover,
#continueBtn:hover {
	background-position-y: -40px;
}
.nextBtn:hover,
.prevBtn:hover,
#menuBtn:hover {
	background-position-y: -40px;
}
#exitBtn:hover,
#statsBtn:hover,
#helpBtn:hover {
	background-position-y: -46px;
}
/* popup windows */
#menu,
#stats,
#glossary,
#feedback,
#help {
	display: none;
	z-index: 4;
	position: absolute;
}
#menu {
	top: 0;
	left: -300px;
	background: #555;
	height: 100%;
	/*width: 370px;*/
	border-right: 2px solid #9a9596;
}
#menu-head {
	height: 60px;
}
#menu-head p {
    color: #fff;
    font-family: BrutalBold;
    font-size: 26px;
    padding: 10px 0 0 15px;
}
#menu-foot {
	height: 40px;
	position: relative;
}
#menu-body {
	height: 668px;
	border-bottom: 2px solid #c1111e;
	border-top: 2px solid #c1111e;
	overflow: auto;
	padding: 10px 0px;
}
#menu-list {
	max-width: 500px;
}
#menu-list li {
	cursor: pointer;
	margin-bottom: 3px;
	min-height: 30px;
	list-style: none;
	position: relative;
	padding-left: 20px;
	display: table;
	width: 100%;
}
#menu-list li.current {
	background: #6c6c6c;
}
#menu-list li:hover {
	background: #7C002F;
}

#menu-list p {
	color: #F8F8F8;
	font-size: 16px;
	margin-left: 40px;
	padding: 5px 0;
}
.menu-item-num {
	position: absolute;
	top: 5px;
	left: 30px;
	text-align: right;
	width: 20px;
	color: #fff;
}
.menu-item-status,
.stats-item-status {
	height: 15px;
	width: 15px;
	background: url(../img/stat_statuses.png);
	display: inline-block;
}
.stats-item-status {
	margin-left: -20px;
}
.menu-item-status {
	background: url(../img/menu_statuses.png);
	position: absolute;
	top: 6px;
	left: 10px;
}
.menu-item-status.visited {
	/* visited page */
	/*background: #27E218;*/
	background-position-y: -15px;
}
.menu-item-status.failed {
	/* failed ex */
	/*background: #FE5B0E;*/
	background-position-y: -30px;
}
.stats-item-status.failed {
	/* failed ex */
	/*background: #FE5B0E;*/
	background-position-y: -30px; 
}
.menu-item-status.complited {
	/* conplited ex */
	/*background: #49A505;*/
	background-position-y: -15px; 
}
.stats-item-status.complited {
	/* conplited ex */
	/*background: #49A505;*/
	background-position-y: -15px; 
}
#menu-foot {
	text-align: center;
}

#stats {
    width: 650px;
    min-height: 300px;
    left: 50%;
    margin-left: -325px;
    top: 100px;
    background: #fff;
    padding-bottom: 20px;
}
#stats-head,
#help-head {
	height: 40px;
}
#stats-head p,
#help-head p {
    margin-left: 62px;
    color: #7C002F;
    font-size: 18px;
    font-family: BrutalBold;
    text-transform: uppercase;
    padding-top: 12px;
}
#stats-msg,
#stats-tests-msg {
	text-align: center;
	padding: 15px 0;
	color: #7C002F;
	text-transform: uppercase;
}
#stats-progress,
#tests-progress {
	margin: 0 10px;
	border: none;
	background: #eee;
	height: 20px;
}
#stats-progress .progress-label,
#tests-progress .progress-label {
	position: absolute;
	/*left: 48%;*/
	width: 100%;
	text-align: center;
}
#stats-progress .ui-progressbar-value,
#tests-progress .ui-progressbar-value {
	background: #ccc url(../img/bg_diagonals.png);
}
#stats-list {
	margin: 10px 0 15px 0;
	max-height: 240px;
	overflow: auto;
}
#stats-list li {
	margin: 0px 10px;
	margin-left: 30px;
	list-style: none;
	border-bottom: 2px solid #eee;
	cursor: pointer;
}
#stats-list li:hover {
	background: #7C002F;
}
#stats-list li:hover p {
	color: #fff;
}
#stats-list li p {
	color: #000;
	font-size: 18px;
	margin: 5px;
	margin-left: 10px;
	display: inline-block;
}

#help {
	background: #f2f2f2;
	padding-bottom: 20px;
	left: 50%;
	top: 100px;
	width: 695px;
	min-height: 400px;
	margin-left: -347px;
}
#help-body {
	position: relative;
	margin-top: 5px;
}
#help-body-img {
	background: url(../img/help/help.jpg);
	width: 692px;
	height: 445px;
	top: 0px;
	left: 0px;
}
#feedback {
	width: 664px;
    /*min-height: 250px;*/
    position: absolute;
    left: 50%;
    margin-left: -332px;
    top: 190px;
    background: #fff;
    padding-bottom: 15px;
}
#feedback-head,
#feedback-body,
#feedback-foot {
	position: relative;
}
#feedback-head {
	/*background: url(../img/footheadback.jpg);*/
	width: 100%;
	height: 40px;
	/*box-shadow: 0px 3px 4px rgba(0,0,0,0.5);*/
}
#feedback-head p {
	margin-left: 62px;
    color: #7C002F;
    font-size: 18px;
    font-family: BrutalBold;
    text-transform: uppercase;
    padding-top: 12px;
}
#feedback-body {
	min-height: 100px;
	padding: 12px;
}
#feedback-foot {
	float: left;
	width: 100%;
	text-align: center;
}
#dark {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #333;
    filter: Alpha(Opacity=0);
    opacity: 0;
    display: none;
    z-index: 3;
}

#end {
	width: 100%;
	height: 100%;
	background: url(../img/no.png) no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
}
/* debug field */
#hello {
	position: absolute;
	bottom: 5px;
	left: 200px;
	z-index: 4;
}