<div class="page-container task-note-style page-task page-23-02">
  <section class="page-head">
    <p>Задание 9</p>
  </section>

  <div class="flex-container">
    <div>
      <p>Важно взять за правило записывать содержание телефонных звонков, кому бы они ни были адресованы: вашим коллегам или вам. Иначе может возникнуть ситуация, как в киноэпизоде.</p>      
      <p class="task-text">Какие пункты, на ваш взгляд, должен содержать бланк для приема телефонных сообщений?</p>
      <p class="text__hint">Введите нужный ответ с помощью клавиатуры.</p>
    </div>

    <page-video videourl="video/r3.mp4" videoposter="video/posters/03.jpg" suburl="video/subtitles/r3.vtt" videowidth="696" videoheight="572"></page-video>
  </div>

  <section ng-controller="NoteColumnCtrl as $ctrl">
    <div class="task-note">
      <div class="task-note__body">
        <div class="flex-container__task-note">
          <div class="task-title">{{$ctrl.taskData.titles[0]}}</div>
          <div class="task-note_item flex-container__task-note__item"
            ng-repeat="item in $ctrl.items.fields">
            <textarea class="task-note_item_input" maxlength="{{$ctrl.taskData.maxlength}}">{{item.text}}</textarea>
          </div>
        </div>
      </div>
    </div>

    <section class="btn-box">
      <button class="btn btn_answer" ng-click="$ctrl.saveNote()">СОХРАНИТЬ</button>
    </section>
  </section>
</div>