.container {
	padding-top: 0;
	overflow: hidden;
}

.page__wrapper {
	position: relative;
}

.page__list {
	margin-bottom: 16px;
}

.slider-header {
	position: relative;
	margin: 8px auto 0;
	padding-top: 6px;
	padding-left: 60px;
	width: 970px;
	height: 36px;
	background: #7C7C7C;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
}

.slider-active {
	background: rgb(124,0,47);
}

.slider-block {
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background: #fff;
	cursor: pointer;
}

.slider-block__text {
	margin: 50px auto;
	width: 970px;
}

.slider-block__icon {
	position: absolute;
	top: 2px;
	left: 7px;
	content: '';
	width: 38px;
	height: 30px;
	background: url(../img/05.png);
	background-position: 0px 0;
}

.slider-block__arrow {
	position: absolute;
	top: 12px;
	right: 12px;
	content: '';
	width: 20px;
	height: 12px;
	background: url('../../../img/arrow-up-down-white.png') no-repeat;
}

.slider-active .slider-block__arrow {
	background-position: 0 -12px;
}
