<div class="page-container page-52-03 page-task">
<section class="page-head">
  <p>Задание 42</p>
</section>

<section ng-controller="ManySingleChoiceCtrl as $ctrl">
		<section class="task-set task-many-single-choice">
			<p class="task-text">Прослушайте возражения клиента и выберите наиболее подходящий ответ.</p>
			<p class="text__hint">Выберите один вариант ответа для каждого возражения.</p>
		  <div class="task_wrapper">
		  	<div class="task" ng-repeat="task in $ctrl.taskExs" ng-init="parentIndex = $index">
		  		<div class="taskQuestion">
		  			<p class="task-text">Возражение {{$index + 1}}</p>
		  			<custom-mini-audio src="{{task.taskText}}"></custom-mini-audio>
		  		</div>
		  	  <div class="task__single-choice-body">
		  	    <div class="task__single-choice-item" 
		  	        ng-repeat="question in task.questionList"
		  	        ng-click="$ctrl.selectAnswer(parentIndex, $index)">
		  		    			<p class="task-text">Ответ {{$index + 1}}</p>
		  	      <div class="task__single-choice-question task-question" 
		  	          ng-class="{'radio-selected': $ctrl.active[parentIndex][$index].selected}">
		  	        <custom-mini-audio src="{{question.label}}"></custom-mini-audio>
		  	      </div>
		  	    </div>
		  	  </div>
		  	</div>
		  </div>
		</section>
		<div class="btn-box" ng-if="!$ctrl.test">
		  <button class="btn btn_restart" ng-click="$ctrl.removeRestart()">Начать заново</button>
		  <button class="btn btn_answer" ng-class="{'btn_disabled': $ctrl.state == 0 || $ctrl.state == 2}" ng-click="$ctrl.checkAnswer($event)">Принять ответ</button>
		</div>
	</section>
</div>