.container {
	position: relative;
	background: url('../img/11_01.jpg')  no-repeat;
	padding-top: 0px;
}

.page__bubble_down_left{
	left: 40px;
	top: 285px;
	height: 145px;
	width: 900px;
}
.page__bubble_down_left:after {
	right: 134px;
}

#task-container{
	height: 94px;
}
#task-btns{
	margin-left: 272px;
	margin-top: 29px;
}

.page__wrapper--right {
	float: right;
	width: 189px;
	margin-right: 22px;
}

.page__wrapper--left {
	width: 850px;
	margin-left: 10px;
	height: 125px;
}
.page__item-wrapper1 {
	height: 42px;
	width: 845px;

}

.page__item-wrapper--image {
	position: absolute;
	top: 50%;
	left: 35px;
	z-index: -1;
	margin-top: -19px;
}

#task-btns {
}
.page__question_container{
	top: 250px;
	left: 40px;
}

.page__bubble_down_left_employee{
	top: 10px;
	left: 100px;
	height: 90px;
	width: 785px;
}

.page__bubble_down_left_employee:before {
	left: 152px;
	bottom: -15px;
}