<p class="text text_highlight" ng-bind-html="$ctrl.taskText"></p>
<div class="task__single-choice-block task__single-choice-block_{{$index + 1}}" 
     ng-repeat="block in $ctrl.questionList">
  <p class="task__single-choice-question" ng-bind-html="block.question"></p>
  <ul class="task__single-choice-list">
    <li class="task__single-choice-item" 
        ng-class="{'radio-checked': item.answer === true}" 
        ng-click="$ctrl.checkVariant($index, $parent.$index)" 
        ng-repeat="item in block.variant">
      <span class="task__single-choice-variant" ng-bind-html="item.content"></span>
    </li>
  </ul>
</div>
<div class="btn-box">
	<button class="btn btn_restart"
          ng-class="{'btn_disabled': $ctrl.getBtnState().restart}" 
          ng-click="$ctrl.removeRestart()">Начать заново
  </button>
	<button class="btn btn_answer" 
          ng-class="{'btn_disabled': $ctrl.stateNum !== $ctrl.questionList.length || $ctrl.getBtnState().answer}" 
          ng-click="$ctrl.checkAnswer()">Принять ответ
  </button>
</div>