<div class="accordion-panel" ng-class="{'accordion_active': !isCollapsed}">
  <div class="accordion-heading" ng-click="toggle()">
  	<!-- <div class="btn-hint btn-hint_accordion"
				 ng-show="$ctrl.hintShow === true">
			<img src="img/click-hint_left.svg" 
					 width="100">
		</div>	 -->
    <h4 class="accordion-heading__title" ng-bind-html="$ctrl.heading"></h4>
    <div class="accordion-heading__toggler" ng-class="{'accordion-heading__toggler_active': !isCollapsed}"></div>
  </div>
  <div class="accordion-content" collapse="isCollapsed" ng-transclude ng-controller="AccordionContentCtrl">
  </div>
</div>