<div class="page-container page-29-03 task-note-style">
	<section class="page-head">
		<p>Записная книжка. Задание 11</p>
	</section>

	<div class="page-block-text">
		<p>Подготовьтесь к разговору с секретарем. Запишите формулировки, которые вы можете использовать для каждой из тактик.</p>
		<p class="text__hint">Введите нужный ответ с помощью клавиатуры.</p>
	</div>

	<section ng-controller="NoteCtrl as $ctrl">
		<div class="task-note">
			<div class="task-note__body">

				<div class="flex-container__task-note">
					<div class="task-note_item flex-container__task-note__item">
						<div class="task-title">ТАКТИКИ:</div>
						<div class="task-title">ФОРМУЛИРОВКИ:</div>
					</div>
					<div class="task-note_item flex-container__task-note__item"
								ng-repeat="title in $ctrl.taskData.titles"
								ng-init="titleIndex = $index">
						<div class="task-title">{{title}}</div>
						<div ng-repeat="item in $ctrl.items.fields | limitTo: 1 : titleIndex * 1">
							<textarea class="task-note_item_input" maxlength="{{$ctrl.taskData.maxlength}}">{{item.text}}</textarea>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- <div class="page-block-text">
			<p>Попросите вашего коллегу сделать то же самое и дать объективную оценку звучанию вашего голоса. Если результат получился ниже 12-ти баллов, вам необходимо потренироваться и отрепетировать звучание вашего голоса.</p>
			<p class="text__hint">Введите нужный ответ с помощью клавиатуры.</p>
		</div>		 -->

		<section class="btn-box">
			<button class="btn btn_answer" ng-click="$ctrl.saveNote()">СОХРАНИТЬ</button>
		</section>

	</section>

</div>
