#task-container {
	margin-top: 5px;
	padding: 0;
	height: auto;
}
.page__wrapper {
    margin-top: 4px;
}

.page__item {
	height: 100%;
	margin: 0;
	padding: 0 10px;
	font-size: 16px;
	font-family: "Arial", sans-serif;
	line-height: 1;
	padding-left: 45px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: table;
	width: 100%;
}

.page__item p {
	padding: 8px 0px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.page__item-before {
	position: absolute;
	top: 50%;
	left: 0;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	background: url('../../../img/checkbox.png') no-repeat;
}

.page__item.selected .page__item-before {
	background-position: 0 -22px;
}
.page__item.show-right {
	/*color: #4b9968;*/
}
.page__item.show-right .page__item-before {
	background-position: 0 -66px;
}

.page__text strong {
	font-family: "Arial Bold", sans-serif;
}

.page__text {
	padding: 0px 10px;
}

.disabled {
	color: #999;
}

.page__wrapper--right {
	float: right;
  	width: 189px;
 	margin-right: 22px;
}

.page__wrapper--left {
	float: left;
  	width: 679px;
 	margin-left: 22px;
}
.page__item-wrapper1 {
	height: 48px;
	/*display: table;*/
}
.page__item-wrapper2 {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	/*display: table-cell;*/
	/*vertical-align: middle;*/
}

.page__item-wrapper--image {
	position: absolute;
	top: 50%;
	left: 35px;
	z-index: -1;
	margin-top: -19px;
 }

#task-btns {
	text-align:center;
}
/*[right="true"] {
	background: green;#4b9968
}*/