.container {
	position: relative;
	background: url('../img/4_1.jpg')  no-repeat;
	padding-top: 0px;
}
.page__bubble_down_left{
	top: 22px;
	height: 94px;
}

.page__bubble_down_left{
	top: 300px;
	height: 95px;
	width: 575px;
}


#task-container{
	height: 94px;
}

#task-btns{
	margin-left: 76px;
	margin-top: 59px;
}

.page__wrapper--right {
	float: right;
	width: 189px;
	margin-right: 22px;
}

.page__wrapper--left {
	width: 550px;
	margin-left: 10px;
}
.page__item-wrapper1 {
	height: 38px;
	width: 550px;
}


.page__item-wrapper--image {
	position: absolute;
	top: 50%;
	left: 35px;
	z-index: -1;
	margin-top: -19px;
}


.page__question_container{
	top: 221px;
	left: 196px;
}
.page__bubble_right_lower{
	top: 105px;
	left: 447px;
	width: 301px;
	height: 39px;
}
.page__bubble_left_lower{
	top: 30px;
	left: 185px;
	height: 59px;
}
.page__bubble_right_lower2{
	top: 158px;
	height: 41px;
	left: 350px;
	width: 509px;
}