.video-js {
  margin: auto;
  background: #fff;
}
.video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  border: none;
  transform: translate(-50%, -50%);
}
.vjs-menu-button-inline .vjs-menu {
  display: block;
}
.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  opacity: 1;
}
.vjs-button.vjs-paused {
  position: relative;
}
.vjs-button.vjs-paused:before,
.vjs-icon-pause:before, 
.video-js .vjs-play-control.vjs-playing:before,
.video-js .vjs-play-control:before, 
.vjs-icon-play:before,
.video-js .vjs-mute-control:before, 
.video-js .vjs-volume-menu-button:before, 
.vjs-icon-volume-high:before,
.video-js .vjs-mute-control.vjs-vol-1:before, 
.video-js .vjs-volume-menu-button.vjs-vol-1:before, 
.vjs-icon-volume-low:before,
.video-js .vjs-mute-control.vjs-vol-2:before, 
.video-js .vjs-volume-menu-button.vjs-vol-2:before, 
.vjs-icon-volume-mid:before,
.video-js .vjs-mute-control.vjs-vol-0:before, 
.video-js .vjs-volume-menu-button.vjs-vol-0:before, 
.vjs-icon-volume-mute:before,
.video-js .vjs-fullscreen-control:before, 
.vjs-icon-fullscreen-enter:before,
.vjs-icon-fullscreen-exit:before, 
.video-js.vjs-fullscreen .vjs-fullscreen-control:before {
  content: '';
}
.video-js .vjs-play-control::before, 
.vjs-icon-play::before,
.vjs-button.vjs-paused::before {
  background: url(../../img/video-sprite.png);
  background-position: 0 -1px;
}
.vjs-button.vjs-playing::before {
  background: url(../../img/video-sprite.png);
  background-position: -18px -1px;
}
.video-js .vjs-play-control::before, 
.vjs-icon-play::before,
.vjs-button.vjs-paused::before,
.vjs-button.vjs-playing::before {
  position: absolute;
  left: 11px;
  width: 18px;
  height: 28px;
  background-size: 128px;
}    
.video-js .vjs-slider {
  margin: 0;
  height: 5px;
  background: #b7b7b8;
  border-radius: 5px;
}
.video-js .vjs-progress-holder .vjs-load-progress, 
.video-js .vjs-progress-holder .vjs-load-progress div, 
.video-js .vjs-progress-holder .vjs-play-progress, 
.video-js .vjs-progress-holder .vjs-tooltip-progress-bar,
.vjs-slider-horizontal .vjs-volume-level {
  height: inherit;
  border-radius: inherit;
}
.video-js .vjs-play-progress,
.video-js .vjs-volume-level {
  background: #00417d;
}
.video-js .vjs-mouse-display:before, 
.video-js .vjs-play-progress:before, 
.video-js .vjs-volume-level:before, 
.vjs-icon-circle:before {
  content: '';
}
.video-js .vjs-mute-control.vjs-vol-0:before, 
.video-js .vjs-volume-menu-button.vjs-vol-0:before, 
.vjs-icon-volume-mute:before,
.video-js .vjs-mute-control::before, 
.video-js .vjs-volume-menu-button::before, 
.vjs-icon-volume-high::before {
  position: absolute;
  top: 2px;
  left: 11px;
  width: 19px;
  height: 21px;
  background: url(../../img/video-sprite.png);
  background-size: 102px;
  background-position: -30px 0;
}
.video-js .vjs-mute-control.vjs-vol-0::before, 
.video-js .vjs-volume-menu-button.vjs-vol-0::before, 
.vjs-icon-volume-mute::before {
  background-position: -52px 0;
}
.vjs-icon-fullscreen-enter::before, 
.video-js .vjs-fullscreen-control::before {
  position: absolute;
  left: 10px;
  width: 18px;
  height: 28px;
  background: url(../../img/video-sprite.png);
  background-size: 128px;
  background-position: 37px -1px;
}
.vjs-icon-fullscreen-exit::before, 
.video-js.vjs-fullscreen .vjs-fullscreen-control::before {
  position: absolute;
  left: 10px;
  width: 18px;
  height: 28px;
  background: url(../../img/video-sprite.png);
  background-size: 128px;
  background-position: 18px -1px;
}
.video-js .vjs-control-bar {
  display: flex;
  background: #e6e6e6;
}
.vjs-play-control.vjs-control.vjs-button {
  order: 0;
}
.vjs-progress-control.vjs-control {
  order: 1;
}
.vjs-volume-menu-button.vjs-menu-button {
  order: 3;
}
.vjs-remaining-time.vjs-time-control {
  order: 2;
}
.vjs-fullscreen-control.vjs-control {
  order: 4;
}
.vjs-duration.vjs-control, 
.vjs-current-time.vjs-control {
    width: auto !important;
    padding: 0 10px;
}
.video-js .vjs-current-time, 
.vjs-no-flex .vjs-current-time,
.video-js .vjs-duration, 
.vjs-no-flex .vjs-duration {
  display: block;
  order: 2;
  font-size: 12px;
  line-height: 30px;
  color: #f47c65;
}
.vjs-duration.vjs-control {
  padding: 0 5px;
}
.vjs-current-time.vjs-control {
  padding: 0 5px 0 10px;
}
.vjs-current-time-display:after {
  content: '/';
  margin-left: 7px;
  color: #00417d;
}
.video-js .vjs-duration, 
.vjs-no-flex .vjs-duration {
  color: #00417d;
}
.video-js .vjs-remaining-time, 
.vjs-no-flex .vjs-remaining-time {
  display: none;
}
.vjs-menu-button-inline .vjs-menu {
  margin-top: 13px;
  opacity: 1 !important;  
}
.video-js .vjs-menu-button-inline.vjs-slider-active, 
.video-js .vjs-menu-button-inline, 
.video-js .vjs-menu-button-inline, 
.video-js.vjs-no-flex .vjs-menu-button-inline,
.video-js .vjs-menu-button-inline:focus, 
.video-js .vjs-menu-button-inline:hover {
  width: 16em;
}
.vjs-volume-bar.vjs-slider-horizontal,
.vjs-volume-menu-button-horizontal .vjs-lock-showing .vjs-menu-content, 
.vjs-volume-menu-button-horizontal .vjs-slider-active .vjs-menu-content, 
.vjs-volume-menu-button-horizontal:focus .vjs-menu-content, 
.vjs-volume-menu-button-horizontal:hover .vjs-menu-content {
  width: 10em;
}
.video-js .vjs-control:focus, 
.video-js .vjs-control:focus:before, 
.video-js .vjs-control:hover:before,
.video-js .vjs-slider:focus {
  text-shadow: none;
  box-shadow: none;
}
.video-js .vjs-play-progress:after, 
.video-js .vjs-play-progress:before, 
.video-js .vjs-time-tooltip,
.video-js.vjs-user-inactive .vjs-progress-control .vjs-mouse-display, 
.video-js.vjs-user-inactive .vjs-progress-control .vjs-mouse-display:after {
  display: none;
}
.video-js .vjs-load-progress div {
  background: #b7b7b8;
}
.video-js .vjs-control-text {
  display: none;
}