.object-page_text {
	padding: 10px;
	font-size: 22px;
	color: #003E79;
	width: 600px;
	margin: 170px auto;
	text-align: center;
}
.object-page_text_link {
	display: block;
	margin-top: 30px;
	color: #003E79;
}
.object-page_text_link:hover {
	color: rgb(239,121,97);
}