* {
	font-family: verdana;
}
#task-container {
	background: url(../img/bunner.png) no-repeat;
	background-position: 0 bottom;
	padding: 10px 0 0 20px;
}
#task-body {
	padding: 4px 14px 0px 14px;
	font-family: "Arial", sans-serif;
}
.testTitle {
	font-size: 22px;
	font-family: verdana;
	font-weight: bold;
	color: rgb(0,62,121);
	padding-left: 10px;
}
.answer {
	position: relative;
	font-size: 16px;
	padding: 5px;
	padding-left: 35px;
	cursor: pointer;
	margin-bottom: 10px;
}
.answer.selected .check-item.box {
	background-position-y: -22px;
}
.answer.selected .check-item.radio {
	background-position-y: -24px;
}
.check-item {
	position: absolute;
	top: 5px;
	left: 5px;
}
.check-item.box {
	background: url(../../img/checkbox.png);
	width: 20px;
	height: 20px;
}
.check-item.radio {
	background: url(../../img/radiobutton.png);
	width: 22px;
	height: 22px;
}
#test-quest-num {
	color: rgb(239,121,97);
	font-weight: bold;
	height: 40px;
	line-height: 2;
}
#test-quest-txt {
	margin-top: 2px;
	margin-bottom: 10px;
}
#test-quest-txt span {
	font-style: italic;
}
#task-btns {
	text-align: center;
	margin-top: 15px;
}
.test_answBtn {
	background: url('../../img/accept_answer.png');
}
.test_restartBtn {
	background: url('../../img/start_again.png');
}
.test_passBtn {
	background: url('../../img/pass.png'); 
}
.test_answBtn,
.test_restartBtn,
.test_passBtn {
	border: none;
	outline: none;
	width: 185px;
	background-position-y: -8px; 
	height: 48px;
	cursor: pointer;
}

.test_answBtn:hover,
.test_restartBtn:hover,
.test_passBtn:hover {
	background-position-y: -61px;
}
.test_answBtn:hover.disabled,
.test_restartBtn:hover.disabled,
.test_passBtn:hover.disabled {
	/**/
}
.test_answBtn.disabled,
.test_restartBtn.disabled,
.test_passBtn.disabled {
	background-position-y: -113px;
	cursor: default;
}
.test_questions_panel_btn {
	background: url(../../img/test_panel_btn.png);
	background-size: cover;
	background-position-x: -57px;
	cursor: pointer;
	width: 55px;
	height: 50px;
	position: absolute;
	top: -2px;
	left: -200px;
	border: none;
	z-index: 2;
}
.test_questions_panel_btn:hover {
	background-position-x: -1px;
}
.test_questions_panel_btn:focus {
	outline: none;
}
.test_questions_panel {
	height: 585px;
	position: absolute;
	top: 7px;
	right: -146px;
	transition: all 400ms;
}
.test_questions_panel.active {
	right: 0;
}

.test_questions_panel .test_questions_panel_body {
	display: none;
}

.test_questions_panel.active .test_questions_panel_body {
	border: 2px solid rgb(239,121,97);
	border-top: none;
	border-right: none;
	display: block;
}
.test_questions_panel.active .test_questions_panel_btn {
	left: -40px;
}

.test_questions_panel_body {
	width: 170px;
	height: 100%;
	background: #fff;
	box-sizing: border-box;
	overflow: auto;
}

.test_questions_panel_question {
	position: relative;
	cursor: pointer;
    padding: 2px 0px 2px 15px;
}
.test_questions_panel_question.answered {
	background: rgb(169,203,86);
}
.test_questions_panel_question.answered:hover {
	cursor: default;
}
.test_questions_panel_question.passed {
	background: rgb(239,121,97);
}
.test_questions_panel_question.current {
	background: #e1e1e1;
}
.test_questions_panel_question:not(.answered):hover {
	background: #b7b7b7;
}
.test_questions_panel_question_status {
	width: 23px;
	height: 22px;
	position: absolute;
	top: 4px;
	right: 0;
	background: url(../../img/menu/menu_statuses.png) no-repeat;
}
.test_questions_panel_question_status.completed {
	background-position: -64px -2px;
}
.test_questions_panel_question_status.incomplete {
	background-position: -94px -1px;
}
.test_popup_text__result {
	text-align: center;
}
.test_popup_text__msg1 {
	/**/
}
.test_popup_text__msg1__red {
	color: red;
}

/* pre final-test page */
.prefinaltestpage {
	display: none;
	height: 594px;
	padding: 30px 10px 20px 10px;
}
.prefinaltestpage p {
	color: rgb(0,62,121);
}
.prefinaltestpage_head {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 30px;
}
.prefinaltestpage_region,
.prefinaltestpage_surname,
.prefinaltestpage_name,
.prefinaltestpage_patronymiс,
.prefinaltestpage_age {
	display: flex;
	align-items: start;
	margin-bottom: 10px;
	padding: 0 20px;
}
.prefinaltestpage_region p,
.prefinaltestpage_surname p,
.prefinaltestpage_name p,
.prefinaltestpage_patronymiс p,
.prefinaltestpage_age p {
	flex-grow: 1;
	width: 300px;
	font-size: 20px;
}
.prefinaltestpage_region input,
.prefinaltestpage_surname input,
.prefinaltestpage_name input,
.prefinaltestpage_patronymiс input,
.prefinaltestpage_age input {
	height: 35px;
	flex-grow: 10;
	font-size: 18px;
	padding: 5px;
	border: 1px solid #000;
}
.prefinaltestpage_btns {
	display: flex;
	justify-content: center;
	margin-top: 45px;
}
.prefinaltestpage_readyBtn {
	background: url(../../img/start.png) no-repeat;
	background-position: -4px -3px;
	width: 148px;
	height: 45px;
	border: none;
	cursor: pointer;
}
.prefinaltestpage_readyBtn:hover {
	background-position: -4px -50px;
}

[right='true'] {
	border: 1px solid red;
}