.page-04-02 {
  padding-bottom: 25px;
  background: url(../img/7_1.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

@media #{$tablet} {
  .page-04-02 {
    justify-content: initial;
  }
}