.page-07-02 {
  background: url(../img/10.jpg) no-repeat;
  background-size: cover;
  background-position: top right;

  .page-block-text {
    width: 410px;
  }
}

@media #{$tablet} {
  .page-07-02 {

    .page-block-text {
      width: calc(100% - 40px);
    }
  }
    
}
@media #{$mobile} {}