.page-01-02 {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  // background: url(../img/fon.svg) no-repeat;
  // background-size: contain;

  .page-01-02_fon-svg {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 635px;
  }
  .page-01-02_manager {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .page-logo {
    z-index: 1;
  }
  .intro-text {
    width: 380px;
    z-index: 1;

    .intro-text_chapter {
      color: #104e99;
      font-size: 80px;
      border-bottom: 20px solid #dce8f7;
    }
    .intro-text_subchapter {
      color: #596dc5;
      font-size: 32px;

      p {
        margin: 15px 0px;
      }
    }
    
  }
}

@media #{$tablet} {
  .page-01-02 {
    // background-position: left bottom;
    // background-size: 85%;
    .page-01-02_fon-svg {
      width: 85%;
      height: auto;
    }
    
    .page-01-02_manager {
      display: none;
    }
    .page-logo {
      display: none;
    }
    .intro-text {
      width: 320px;
    }

    .intro-text {
      width: 372px;
      padding-left: 5px;
      padding-right: 5px;
      background: rgba(255,255,255,.7);
    }
  }
}
@media #{$mobile} {
  .page-01-02 {
    .intro-text {
      width: 360px;
      padding-right: 0px;

      .intro-text_subchapter {
        font-size: 30px;
      }
    }
  }
}