<header class="header">
  <button class="btn btn_nav-about"
          ng-click="$ctrl.toggleModal('about')">
  </button>
  <button class="btn btn_nav-help"
    ng-click="$ctrl.toggleModal('help')"><!-- помощь -->
  </button>
  <button class="btn btn_close-course"
      ng-click="$ctrl.closeCourse()">
  </button>
  <div class="header__content">
    <div class="header__btns">
      <button class="btn btn_nav btn_nav-menu"
              ng-click="$ctrl.toggleModal('menu'); $ctrl.scrollMenu()"><!-- меню курса -->
      </button>
      <button class="btn btn_nav btn_nav-note"
              ng-click="$ctrl.toggleModal('notes')"><!-- записная книжка -->
      </button>

      <button class="btn btn_nav btn_nav-stat"
              ng-click="$ctrl.toggleModal('stats')"><!-- статистика -->
      </button>
    </div>
    <div class="header__title">
      <p class="header__title-course">{{$ctrl.title.course}}</p>
      <p class="header__title-chapter">{{$ctrl.title.chapter}}</p>
    </div>
  </div>
  <!-- modal windows  -->
  <!-- menu -->
  <div class="modal modal_nav-menu" ng-class="{'menu-slide-in': $ctrl.getModalState('menu')}" ng-show="$ctrl.getModalState('menu')">
    <p class="modal_nav-menu_head">Меню курса</p>
    <ul class="modal_nav-menu_list">
      <li class="menu_list__chapter-item">
        <div ng-click="$ctrl.toggleModal('notes')" class="modal_nav-menu_chapter pointer"><p>Записная книжка</p>
          <button class="btn btn_nav btn_nav-note"><!-- записная книжка -->
          </button>
        </div>
      </li>
      <li class="menu_list__chapter-item">
        <div ng-click="$ctrl.toggleModal('stats')" class="modal_nav-menu_chapter pointer"><p>Статистика</p>   
          <button class="btn btn_nav btn_nav-stat"><!-- статистика -->
          </button>
        </div>
      </li>
      <li class="menu_list__chapter-item">
        <div ng-click="$ctrl.toggleModal('about')" class="modal_nav-menu_chapter pointer"><p>Об авторах</p>
          <button class="btn btn_nav-about"><!--  об авторах -->
          </button>
        </div>
      </li>
      <li ng-repeat="chapter in $ctrl.chapters" class="menu_list__chapter-item">
        <div class="modal_nav-menu_chapter"><p>{{ chapter.description }}</p></div>
        <ul ng-if="chapter.pages" class="modal_nav-menu_list__pages">
          <li ng-repeat="page in chapter.pages"
              ng-init="num = $ctrl.countPages()"
              ng-click="$ctrl.goFromMenu(page, chapter)"
              class="menu_list__page-item"
              ng-class="{'current': num == $ctrl.getCurrent()}"
              id="page_{{chapter.chapter_id}}_{{page.page_id}}">
            <p>{{num}}. {{ page.title }}</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- stats -->
  <div class="modal modal_nav-stats"
       ng-show="$ctrl.getModalState('stats')">
    <div class="modal__container">
      <div class="modal__title-container">
        <p class="modal__title">Статистика</p>
        <button class="btn btn_close-modal"
                ng-click="$ctrl.closeModals()">
        </button>
      </div>
      <div>
        <div class="modal_nav-stats_total">Выполнено упражнений: {{$ctrl.countDoneExs()}} из {{$ctrl.countExs()}}</div>
        <div class="modal_nav-stats__list">
          <div ng-repeat="item in $ctrl.getExs()"
            class="modal_nav-stats__item"
            ng-click="$ctrl.goFromMenu({page_id:item.page_id+1}, {chapter_id:item.chapter_id+1})">
            <div class="nav-stats__item_name">Задание {{$index + 1}}</div>
            <div class="nav-stats__item_score">Баллы: {{item.score}}</div>
            <svg viewBox="0 0 28 28"
                 width="16"
                 height="16"
                 fill="#989898"
                 ng-show="item.status === -1">
              <use xmlns:xlink="http://www.w3.org/1999/xlink"
                   xlink:href="#minus">
              </use>
            </svg>
            <svg viewBox="0 0 28 28"
                 width="16"
                 height="16"
                 fill="#007300"
                 ng-show="item.status === 1">
              <use xmlns:xlink="http://www.w3.org/1999/xlink"
                   xlink:href="#check">
              </use>
            </svg>
            <svg viewBox="0 0 28 28"
                 width="16"
                 height="16"
                 fill="#e50000"
                 ng-show="item.status === 0">
              <use xmlns:xlink="http://www.w3.org/1999/xlink"
                   xlink:href="#cross_exercise">
              </use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- notes -->
  <div class="modal modal_nav-notes"
       ng-show="$ctrl.getModalState('notes')">
    <div class="modal__container">
      <div class="modal__title-container">
        <p class="modal__title">Записная книжка</p>
        <button class="btn btn_close-modal"
                ng-click="$ctrl.closeModals()">
        </button>
      </div>
      <div class="modal_nav-notes_body">
        <div ng-repeat="item in $ctrl.getNotes()"
              ng-click="$ctrl.goFromMenu({page_id:item.page_id+1}, {chapter_id:item.chapter_id+1})"
              class="modal_nav-notes_body_item">
          Записная книжка. Задание {{$index + 1}}
        </div>
      </div>
    </div>
  </div>
  <!-- about -->
  <div class="modal modal_nav-about"
       ng-show="$ctrl.getModalState('about')">
    <div class="modal__container">
      <div class="modal__title-container">
        <p class="modal__title">Об авторах</p>
        <button class="btn btn_close-modal"
                ng-click="$ctrl.closeModals()">
        </button>
      </div>
      <div class="modal__content">
            <div class="about_flex-container">
              <div class="about_flex-cell_1"><img src="img/nd.png" alt=""></div>
              <div class="about_flex-cell_2">
                <p>&#169; ЗАО <strong>«Новый&nbsp;Диск»</strong>, 2017.  Все права защищены.</p>
                <p>Дизайн, интерактив и мультимедиа решения разработаны компанией <strong>«Новый&nbsp;Диск»</strong>.</p>
                <p> <a href="http://www.e-learning.nd.ru">www.e-learning.nd.ru</a></p>
                <p>По вопросам продаж и разработки программ для корпоративного обучения обращаться по телефону:  <a class="about_tel" href="tel:+74957856514"><br/>+7&nbsp;(495)&nbsp;785-65-14</a>.</p>
              </div>
            </div>

           <div class="about_flex-container">
            <div class="about_flex-cell_1"><img src="img/tm.jpg" alt=""></button></div>
            <div class="about_flex-cell_2">
             <p>&#169; ЗАО <strong>«Тренинг&nbsp;Медиа»</strong>, 2017.  Все права защищены.</p>
             <p>Учебные материалы и видеосюжеты разработаны компанией <strong>«Тренинг&nbsp;Медиа»</strong>.</p>
             <p><a href="www.tmedia.ru">www.tmedia.ru</a></p>
             <p>По вопросам продаж обращаться по телефону:  <a class="about_tel" href="tel:+74959792433"><br/>+7&nbsp;(495)&nbsp;979-24-33</a>.</p>
           </div>
          </div>
      </div>
    </div>
  </div>
  <!-- help -->
  <div class="modal modal_nav-help" ng-show="$ctrl.getModalState('help')">
    <div class="modal__container">
      <div class="modal__title-container">
        <p class="modal__title">Помощь</p>
        <button class="btn btn_close-modal"
                ng-click="$ctrl.closeModals()">
        </button>
      </div>
      <div class="modal__content">
        <table>
          <tr>
            <td class="table-cell_help_1"><button class="btn btn_nav btn_nav-menu"></button></td>
            <td class="table-cell_help_2">Меню</td>
          </tr>
          <tr>
            <td class="table-cell_help_1"><button class="btn btn_nav btn_nav-note"></button></td>
            <td class="table-cell_help_2">Записная книжка</td>
          </tr>
          <tr>
            <td class="table-cell_help_1"><button class="btn btn_nav btn_nav-stat"></button></td>
            <td class="table-cell_help_2">Статистика</td>
          </tr>
          <tr>
            <td class="table-cell_help_1"><button class="btn btn_nav-about"></button></td>
            <td class="table-cell_help_2">Об авторах</td>
          </tr>
          <tr>
            <td class="table-cell_help_1"><button class="btn btn_nav-help"></button></td>
            <td class="table-cell_help_2">Помощь</td>
          </tr>
          <tr>
            <td class="table-cell_help_1"><button class="btn btn_close-course"></button></td>
            <td class="table-cell_help_2">Выход</td>
          </tr>
          <tr>
            <td class="table-cell_help_1"><button class="btn btn_nav btn_nav-back"></button></td>
            <td class="table-cell_help_2">Предыдущий слайд</td>
          </tr>
          <tr>
            <td class="table-cell_help_1"><button class="btn btn_nav btn_nav-forward"></button></td>
            <td class="table-cell_help_2">Следующий слайд</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- exercise modal -->
  <div class="modal modal_nav-ex" ng-show="$ctrl.getModalState('exercise')">
    <div class="modal__container modal__container_ex">
      <div class="modal__title-container">
        <p class="modal__title modal_head"></p>
        <button class="btn btn_close-modal"
                ng-click="$ctrl.closeModals()">
        </button>
      </div>
      <div class="modal__content modal__content_ex">
        <div class="modal_body" compile>Далеко-далеко за словесными.</div>
        <canvas id="pie-chart" width="800" height="450" ng-show="$ctrl.getPageType()"></canvas>
        <div class="modal__button_ex" ng-show="!$ctrl.getPageType()">
          <button class="btn btn_continue" 
                  ng-click="$ctrl.closeModals(); $ctrl.nextStep()"
                  ng-show="$ctrl.complexEx()">Продолжить</button>
          <button class="btn btn_continue" 
                  ng-click="$ctrl.closeModals(); $ctrl.toForward($ctrl.exerciseData().answer)"
                  ng-show="!$ctrl.complexEx()">Продолжить</button>
          <img ng-show="$ctrl.exerciseData().answer === false"
               class="modal__img"
               src="img/modal_false.jpg"
               alt="Мужчина"
               width="276">
          <img ng-show="$ctrl.exerciseData().answer === true"
               class="modal__img"
               src="img/modal_true.jpg"
               alt="Мужчина"
               width="276">
        </div>
      </div>
    </div>

   <!--  <p class="modal_nav-ex_text__head">Ваш результат</p>
    <p class="modal_nav-ex_text__result"></p>
    <p class="modal_nav-ex_text__text"></p> -->
  </div>
  <!-- video modal -->
  <div class="modal modal_video" ng-show="$ctrl.getModalState('video')">
    <div class="modal__container">
      <div class="modal__title-container">
        <p class="modal__title">Киноэпизод</p>
        <button class="btn btn_close-modal"
                ng-click="$ctrl.closeModals()">
        </button>
      </div>
      <div class="modal_video__body"></div>
    </div>
    <!-- <video class="video-js vjs-default-skin" controls preload="auto" vjs-video vjs-media="$ctrl.videoData">
    </video> -->
  </div>
  <!-- ADD-INFO MODAL -->
  <div class="modal modal_add-info modal_add-info-page"
       ng-show="$ctrl.getModalState('addInfo')">
    <div class="modal__container">
      <div class="modal__title-container">
        <p class="modal__title"
           ng-bind="$ctrl.addInfo(4).heading"></p>
        <button class="btn btn_close-modal"
                ng-click="$ctrl.closeModals()">
        </button>
      </div>
      <div class="modal__content modal__content_add-info"
           ng-bind-html="$ctrl.addInfo().content">
      </div>
    </div>
  </div>
</header>
