@font-face {
	font-family: "Arial";
	src: url("../fonts/Arial.eot") format("embedded-opentype"),
	 url("../fonts/Arial.woff") format("woff"),
	 url('../fonts/Arial.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "Arial Bold";
  src: url("../fonts/ArialBold.eot") format("embedded-opentype"),
     url("../fonts/ArialBold.woff") format("woff"),
     url('../fonts/ArialBold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
	margin: 0;
	padding: 0;
  -ms-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

body {
	background: #fff;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container,
#task-container {
	padding-top: 10px;
  width: 100%;
	height: 100%;
}

.page__text {
	margin: 0;
	padding: 0 15px 10px;
	font-size: 16px;
	font-family: "Arial", sans-serif;
	line-height: 1.4;
}

.page__text--bold {
  font-weight: 700;
}

.page__list {
  margin: 0;
  padding: 0 15px;
  list-style: none;
}

.page__item {
  margin-bottom: 4px;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  line-height: 1.4;
}

.page__item--text {
  float: left;
  width: 941px;
}

.page__item--img {
  float: left;
  margin-top: 4px;
  margin-right: 10px;
  width: 19px;
  height: 12px;
  background: url('../img/bullit.png') no-repeat;
}

.btn-box {
  padding: 0 20px 10px;
  text-align: center;
}

.btn {
  margin: 0;
  width: 138px;
  height: 38px;
  font-size: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn--answer,
#btn--answer {
  background: url('../img/accept_answer.png');
}

.btn--answer:hover,
#btn--answer:hover {
  background-position-y: -40px;
}

.btn--answer:disabled:hover {
  background-position-y: 40px;
}

.btn--restart,
#btn--restart {
  background: url('../img/start_again.png');
}

.btn--restart:hover,
#btn--restart:hover {
  background-position-y: -40px;
}

.btn--disabled,
.btn--disabled:hover {
  background-position-y: 40px;
}
.btn.disabled,
#btn--answer.disabled,
#btn--answer.disabled:hover {
  background-position-y: -80px;
}

.btn--dialog {
  position: absolute;
  bottom: 20px;
  left: 431px;
  content: '';
}