<div class="page-container task-note-style page-15-03">
	<section class="page-head">
		<p>Записная книжка. Задание&nbsp;4</p>
	</section>
	<div class="page-block-text">
		<p class="text">Приведите 3 довода «за» написание полного текста презентации и 3 довода «против».</p>
		<p class="text__hint">Введите ответ с помощью клавиатуры.</p>
	</div>

  <section ng-controller="NoteCtrl as $ctrl">
    <div class="task-note">
      <div class="task-note__body flex-container__task-note">
        <div class="task-note_title-container">
          <div class="task-title" ng-repeat="item in $ctrl.titles">{{item}}</div>
        </div>
        <div class="flex-container__task-note__item"
              ng-repeat="column in $ctrl.titles track by $index"
              ng-init="columnIndex = $index">
          <div class="flex-container__task-note_column">
            <div class="task-note_column" ng-repeat="item in $ctrl.range(columnIndex) track by $index">
              <textarea class="task-note_item_input" maxlength="{{$ctrl.taskData.maxlength}}">{{item.text}}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="btn-box">
      <button class="btn btn_answer" ng-click="$ctrl.saveNote()">СОХРАНИТЬ</button>
    </section>
  </section>

	<!-- <task-note></task-note> -->
</div>
