<div class="page-container page-36-04">
	<section class="page-head">
		<p>Задание 37</p>
	</section>
	<section class="task-set">
		<p class="task-text text">Соотнесите правила построения с различными этапами презентации. </p>
		<p class="text__hint">Переместите каждое правило или набор правил к соответствующему этапу презентации.</p>
	</section>

	<div ng-controller="SwapListCtrl as $ctrl">
		<div class="task-swap-list" ng-repeat="task in $ctrl.taskExs" ng-if="!$ctrl.showRight">
			<ul>
				<div class="task-swap-list_item_wrapper" ng-repeat="item in task.questionList">
					<div class="task-swap-list_item_left">
						<p class="">{{$ctrl.taskData.exs[0].questionList[$index].phrase}}</p>
					</div>
					<li class="task-swap-list_item" data-order="{{item.order}}">{{item.label}}</li>
				</div>
			</ul>
		</div>

    <div class="task-swap-list" ng-repeat="task in $ctrl.taskExs" ng-if="$ctrl.showRight">
			<ul>
				<div class="task-swap-list_item_wrapper" ng-repeat="item in task.questionList">
					<div class="task-swap-list_item_left">
						<p class="">{{$ctrl.taskData.exs[0].questionList[$index].phrase}}</p>
					</div>
					<li class="task-swap-list_item" data-order="{{item.order}}">{{$ctrl.taskData.exs[0].questionList[$index].label}}</li>
				</div>
			</ul>
		</div>

		<div class="btn-box" ng-if="!$ctrl.test">
			<button class="btn btn_restart" ng-click="$ctrl.removeRestart()">Начать заново</button>
			<button class="btn btn_answer" ng-class="{'btn_disabled': $ctrl.state == 0 || $ctrl.state == 2}" ng-click="$ctrl.checkAnswer()">Принять ответ</button>
		</div>

	</div>
</div>
