.container {
	position: relative;
	background: url('../img/9_01.jpg')  no-repeat;
  padding-top: 0px;
}
.page__bubble_down_left{
	top: 22px;
	height: 94px;
}
.page__bubble_down_left{
	left: 141px;
	top: 255px;
	height: 150px;
	width: 770px;
}
.page__bubble_down_left:after {
	right: 134px;
}
#task-container{
	height: 94px;
}
#task-btns{
	margin-left: 169px;
	margin-top: 59px;
}


.page__wrapper--right {
	float: right;
	width: 189px;
	margin-right: 22px;
}

.page__wrapper--left {
	width: 622px;
	margin-left: 10px;
	height: 125px;
}
.page__item-wrapper1 {
	height: 42px;
	width: 725px;

}

.page__item-wrapper--image {
	position: absolute;
	top: 50%;
	left: 35px;
	z-index: -1;
	margin-top: -19px;
}


.page__question_container{
	top: 219px;
	left: 509px;
}

.page__bubble_left_lower{
	top: 36px;
	left: 523px;
	height: 95px;
	width: 380px;
}

