.container {
	position: relative;
	background: url('../img/10_1.jpg')  no-repeat;
	padding-top: 0px;
}

.page__bubble_down_left{
	left: 141px;
	top: 285px;
	height: 130px;
	width: 700px;
}
.page__bubble_down_left:after {
	right: 134px;
}

#task-container{
	height: 94px;
}
#task-btns{
	margin-left: 171px;
	margin-top: 29px;
}

.page__wrapper--right {
	float: right;
	width: 189px;
	margin-right: 22px;
}

.page__wrapper--left {
	width: 622px;
	margin-left: 10px;
	height: 125px;
}
.page__item-wrapper1 {
	height: 42px;
	width: 725px;

}

.page__item-wrapper--image {
	position: absolute;
	top: 50%;
	left: 35px;
	z-index: -1;
	margin-top: -19px;
}

.page__question_container{
	top: 250px;
	left: 209px;
}
.page__bubble_right_lower{
	top: 180px;
	left: 217px;
	width: 550px;
	height: 60px;
}
.page__bubble_left_lower{
	top: 10px;
	left: 210px;
	height: 60px;
	width: 550px;
}
