<img ng-src="{{$ctrl.banner.src}}" width="100%" alt="{{$ctrl.banner.alt}}">
<p class="text">Вот так выглядит ваш цех без цветовой разметки. После введения 5S на вашем предприятии был разработан стандарт цветовой разметки в рабочих помещениях.</p>
<table>
	<tr>
		<td>Проходы, продукция</td>
		<td>желтый</td>
	</tr>
	<tr>
		<td>Паллеты</td>
		<td>зеленый</td>
	</tr>
	<tr>
		<td>Мусорные контейнеры</td>
		<td>черно-белый</td>
	</tr>
	<tr>
		<td>Брак</td>
		<td>синий</td>
	</tr>
	<tr>
		<td>Противопожарный инвентарь</td>
		<td>красный</td>
	</tr>
</table>
<p class="text">Используйте этот стандарт, чтобы нанести разметку в своем цеху. Выберите нужный цвет под каждым объектом.</p>
<div class="box-wrapper">	
	<div class="box" ng-repeat="box in $ctrl.answerList">
		<div class="box__img-container">
			<img class="box__img" ng-src="{{box.src}}" alt="{{box.alt}}"></img>
		</div>
		<div class="box__items-container">
			<div class="box__item box__item_{{$index + 1}}" ng-class="{'box__item_selected': $ctrl.active[$parent.$index].answer === $index}" ng-click="$ctrl.setColor($event, $index, $parent.$index)" ng-repeat="item in $ctrl.answerList"></div>
		</div>
	</div>
</div>
<div class="btn-box">
	<button class="btn btn_restart" ng-click="$ctrl.removeRestart()">Начать заново</button>
	<button class="btn btn_answer" ng-click="$ctrl.checkAnswer()">Принять ответ</button>
</div>
<popup-menu-comment title="{{$ctrl.commentTitle}}" text="{{$ctrl.commentText}}" visible="$ctrl.showComment" ng-show="$ctrl.showComment"></popup-menu-comment>