<div class="page-container">
  <p class="text">Что нужно сделать после того, как вы составили карту процессов? И как использовать ее в текущей работе? Вот несколько конкретных рекомендаций:</p>
  <!-- for mobile -->
  <div class="block block__page-07-18 mobile">
    <div class="banner-container">
      <img class="banner-img banner-img_page-07-18" 
      		 src="pages/chapter07/page18/img/img-07-18_01.svg" 
      		 alt="Разместить карту процессов" 
      		 width="100%">
      <p class="text text_page-07-18">Разместить карту процессов на входе в подразделение.</p>
    </div>
    <div class="banner-container">
      <img class="banner-img banner-img_page-07-18" 
      		 src="pages/chapter07/page18/img/img-07-18_02.svg" 
      		 alt="Отразить на карте KPIs и PIs" 
      		 width="100%">
      <p class="text text_page-07-18">Отразить на карте KPIs и PIs, чтобы следить за показателями результативности.</p>
    </div>
    <div class="banner-container">
      <img class="banner-img banner-img_page-07-18" 
      		 src="pages/chapter07/page18/img/img-07-18_03.svg" 
      		 alt="Отразить на карте критичные процессы" 
      		 width="100%">
      <p class="text text_page-07-18">Отразить на карте критичные процессы, активности, задачи. </p>
    </div>      
    <div class="banner-container">
      <img class="banner-img banner-img_page-07-18" 
      		 src="pages/chapter07/page18/img/img-07-18_04.svg" 
      		 alt="Расписать на карте SOP" 
      		 width="100%">
      <p class="text text_page-07-18">Расписать на карте SOP в тех местах, где есть критичные задачи.</p>
    </div>
    <div class="banner-container">
      <img class="banner-img banner-img_page-07-18" 
      		 src="pages/chapter07/page18/img/img-07-18_05.svg" 
      		 alt="Работать с картой процессов" 
      		 width="100%">
      <p class="text text_page-07-18">Работать с картой для решения проблем в тех случаях, когда не достигаются показатели результативности – KPIs и PIs и/или когда есть инциденты.</p>
    </div>
    <div class="banner-container">
      <img class="banner-img banner-img_page-07-18" 
      		 src="pages/chapter07/page18/img/img-07-18_06.svg" 
      		 alt="Обращаться к карте процессов" 
      		 width="100%">
      <p class="text text_page-07-18">Обращаться к карте процессов при взаимодействии с другими подразделениями, например, при заключении SLA (соглашения об уровне сервиса с соседними подразделениями).</p>
    </div>
    <div class="banner-container">
      <img class="banner-img banner-img_page-07-18" 
      		 src="pages/chapter07/page18/img/img-07-18_07.svg"  
      		 alt="Уровни процесса" 
      		 width="100%">
      <p class="text text_page-07-18">Использовать карту процессов для обучения новых сотрудников.</p>
    </div>
  </div>
  <!-- for desktop -->
  <div class="block block__page-07-18 desktop">
    <div class="block__sidebar block__sidebar_page-07-18">
      <p class="block__sidebar-tab text" ng-click="$ctrl.tabNum = 1" ng-class="{'block__sidebar-tab_active':$ctrl.tabNum === 1}">Визуализация</p>
      <p class="block__sidebar-tab text" ng-click="$ctrl.tabNum = 2" ng-class="{'block__sidebar-tab_active':$ctrl.tabNum === 2}">KPIs/PIs</p>
      <p class="block__sidebar-tab text" ng-click="$ctrl.tabNum = 3" ng-class="{'block__sidebar-tab_active':$ctrl.tabNum === 3}">Критичные процессы</p>
      <p class="block__sidebar-tab text" ng-click="$ctrl.tabNum = 4" ng-class="{'block__sidebar-tab_active':$ctrl.tabNum === 4}">SOPs</p>
      <p class="block__sidebar-tab text" ng-click="$ctrl.tabNum = 5" ng-class="{'block__sidebar-tab_active':$ctrl.tabNum === 5}">Решение проблем и работа с отклонениями</p>
      <p class="block__sidebar-tab text" ng-click="$ctrl.tabNum = 6" ng-class="{'block__sidebar-tab_active':$ctrl.tabNum === 6}">SLAs</p>
      <p class="block__sidebar-tab text" ng-click="$ctrl.tabNum = 7" ng-class="{'block__sidebar-tab_active':$ctrl.tabNum === 7}">Обучение</p>
    </div>
    <div class="block__content block__content_page-07-08">
      <div class="block__content-item" ng-show="$ctrl.tabNum === 1">
        <div class="banner-container">
          <img class="banner-img banner-img_page-07-18" 
          		 src="pages/chapter07/page18/img/img-07-18_01.svg"  
          		 alt="Разместить карту процессов"
          		 width="100%">
        </div>
        <p class="text text_page-07-18">Разместить карту процессов на входе в подразделение.</p>
      </div>
      <div class="block__content-item" ng-show="$ctrl.tabNum === 2">
        <div class="banner-container">
          <img class="banner-img banner-img_page-07-18" 
          		 src="pages/chapter07/page18/img/img-07-18_02.svg" 
          		 alt="Отразить на карте KPIs и PIs" 
          		 width="100%">
        </div>
        <p class="text text_page-07-18">Отразить на карте KPIs и PIs, чтобы следить за показателями результативности.</p>
      </div>
	    <div class="block__content-item" ng-show="$ctrl.tabNum === 3">
        <div class="banner-container">
          <img class="banner-img banner-img_page-07-18" 
          		 src="pages/chapter07/page18/img/img-07-18_03.svg" 
          		 alt="Отразить на карте критичные процессы" 
          		 width="100%">
        </div>
        <p class="text text_page-07-18">Отразить на карте критичные процессы, активности, задачи. </p>
	    </div>
      <div class="block__content-item" ng-show="$ctrl.tabNum === 4">
        <div class="banner-container">
          <img class="banner-img banner-img_page-07-18" 
          		 src="pages/chapter07/page18/img/img-07-18_04.svg"  
          		 alt="Расписать на карте SOP"
          		 width="100%">
        </div>
        <p class="text text_page-07-18">Расписать на карте SOP в тех местах, где есть критичные задачи.</p>
      </div>
      <div class="block__content-item" ng-show="$ctrl.tabNum === 5">
        <div class="banner-container">
          <img class="banner-img banner-img_page-07-18" 
          		 src="pages/chapter07/page18/img/img-07-18_05.svg" 
          		 alt="Работать с картой процессов" 
          		 width="100%">
        </div>
        <p class="text text_page-07-18">Работать с картой для решения проблем в тех случаях, когда не достигаются показатели результативности – KPIs и PIs и/или когда есть инциденты.</p>
      </div>
      <div class="block__content-item" ng-show="$ctrl.tabNum === 6">
        <div class="banner-container">
          <img class="banner-img banner-img_page-07-18" 
          		 src="pages/chapter07/page18/img/img-07-18_06.svg" 
          		 alt="Обращаться к карте процессов" 
          		 width="100%">
        </div>
        <p class="text text_page-07-18">Обращаться к карте процессов при взаимодействии с другими подразделениями, например, при заключении SLA (соглашения об уровне сервиса с соседними подразделениями).</p>
      </div>
      <div class="block__content-item" ng-show="$ctrl.tabNum === 7">
        <div class="banner-container">
          <img class="banner-img banner-img_page-07-18" 
          		 src="pages/chapter07/page18/img/img-07-18_07.svg" 
          		 alt="Уровни процесса" 
          		 width="100%">
        </div>
        <p class="text text_page-07-18">Использовать карту процессов для обучения новых сотрудников.</p>
	    </div>
    </div>
  </div>
</div>
