@keyframes menu-slide-in {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes menu-slide-out {}
@keyframes arrow1 {
  0% { opacity:0; }
  20% { opacity:0; }
  40% { opacity:1; }
  60% { opacity:1; }
  80% { opacity:1; }
  100% { opacity:1; }
}
@keyframes arrow2 {
  0% { opacity:0; }
  20% { opacity:0; }
  40% { opacity:0; }
  60% { opacity:1; }
  80% { opacity:1; }
  100% { opacity:1; }
}
@keyframes arrow3 {
  0% { opacity:0; }
  20% { opacity:0; }
  40% { opacity:0; }
  60% { opacity:0; }
  80% { opacity:1; }
  100% { opacity:1; }
}
@keyframes arrow4 {
  0% { opacity:0; }
  20% { opacity:0; }
  40% { opacity:0; }
  60% { opacity:0; }
  80% { opacity:0; }
  100% { opacity:1; }
}

@keyframes select-checkbox {
  0% { border-width: 0px; }
  25% { border-width: 0px; }
  100% {
    border-bottom-width: 3px;
    border-left-width: 3px;
  }
}

@keyframes fade-in-left-1 {
  0% {
    opacity: 0;
    transform: translate(90px, 0);
  }
  10% {
    opacity: 0;
    transform: translate(90px, 0);
  }
  20% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fade-in-left-2 {
  0% {
    opacity: 0;
    transform: translate(90px, 0);
  }
  20% {
    opacity: 0;
    transform: translate(90px, 0);
  }
  30% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fade-in-left-3 {
  0% {
    opacity: 0;
    transform: translate(90px, 0);
  }
  30% {
    opacity: 0;
    transform: translate(90px, 0);
  }
  40% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fade-in-left-4 {
  0% {
    opacity: 0;
    transform: translate(90px, 0);
  }
  40% {
    opacity: 0;
    transform: translate(90px, 0);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fade-in-left-5 {
  0% {
    opacity: 0;
    transform: translate(90px, 0);
  }
  50% {
    opacity: 0;
    transform: translate(90px, 0);
  }
  60% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fade-in-left-6 {
  0% {
    opacity: 0;
    transform: translate(90px, 0);
  }
  60% {
    opacity: 0;
    transform: translate(90px, 0);
  }
  70% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fade-in-left-7 {
  0% {
    opacity: 0;
    transform: translate(90px, 0);
  }
  70% {
    opacity: 0;
    transform: translate(90px, 0);
  }
  80% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes fade-in-left-8 {
  0% {
    opacity: 0;
    transform: translate(90px, 0);
  }
  80% {
    opacity: 0;
    transform: translate(90px, 0);
  }
  90% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

//============
@keyframes img-slide {
  0% {
    transform: translate(-100%, -100%);
  }
  40% {
    transform: translate(-100%, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
/**
* sample of use:
.page-block-img {
    position: relative;
    overflow: hidden;
    width: calc(100% - 40px);
    margin: auto;
    img {
      position: relative;
      width: 100%;
      display: block;
      box-sizing: border-box;
      border: 4px solid #ccc;
      // box-shadow: 5px 5px 5px rgba(200,200,200,0.5);
      animation: img-slide 2s;
    }
  }
*/
//============

