.container {
	position: relative;
	background: url('../img/13_01.jpg')  no-repeat;
	padding-top: 0px;
}

.page__bubble_down_left{
	left: 40px;
	top: 285px;
	height: 145px;
	width: 910px;
}
.page__bubble_down_left:after {
	right: 134px;
}
.btn-box{
	left:20px;
}
#task-container{
	height: 94px;
}
#task-btns{
	margin-left: 277px;
	margin-top: 29px;
}

.page__wrapper--right {
	float: right;
	width: 189px;
	margin-right: 22px;
}

.page__wrapper--left {
	width: 860px;
	margin-left: 10px;
	height: 125px;
}
.page__item-wrapper1 {
	height: 42px;
	width: 855px;

}

.page__item-wrapper--image {
	position: absolute;
	top: 50%;
	left: 35px;
	z-index: -1;
	margin-top: -19px;
}

.page__question_container{
	top: 250px;
	left: 50px;
}
.page__bubble_right_lower{
	top: 180px;
	left: 217px;
	width: 550px;
	height: 60px;
}
.page__bubble_left_lower{
	top: 15px;
	left: 500px;
	height: 100px;
	width: 375px;
}
.page__bubble_right_lower2{
	top: 158px;
	height: 41px;
	left: 350px;
	width: 509px;
}
.page__comment__container{
	position: absolute;
	top: 190px;
	left: 170px;

	height: 60px;
	width: 500px;
}
.page__text__comment{
	margin: 0;
	line-height: 16px;
	font-family: 'Verdana Regular', sans-serif;
    font-size: 12px;
}