.container {
	position: relative;
	background: url('../img/13_01.jpg')  no-repeat;
	padding-top: 0px;
}
.page__bubble_left_lower{
	top: 10px;
	height: 60px;
}
.page__bubble_right_lower{
	top: 322px;
	height: 94px;
}
.page__bubble_right_top--bubble2 {
	top: 160px;
	height: 41px;
}
.page__bubble_down_left{
	left: 40px;
	top: 285px;
	height: 145px;
	width: 910px;
}
.page__bubble_down_left:after {
	right: 134px;
}
.btn-box{
	left:20px;
}
#task-container{
	height: 94px;
}
#task-btns{
	margin-left: 277px;
	/*margin-top: 40px;*/
	margin-top: 29px;
	left: 30px;
}
#task-container {
	/*margin-top: 5px;*/
	padding: 0;
	height: auto;
}
/*.page__wrapper {*/
/*margin-top: 4px;*/
/*}*/

.page__item {
	height: 100%;
	margin: 0;
	padding-left: 38px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: table;
	width: 100%;
}

.page__item p {
	padding: 8px 0px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.page__item-before {
	position: absolute;
	top: 50%;
	left: 0;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	background: url('../img/radiobutton.png');
}

.page__item.selected .page__item-before {
	background-position: 0 42px;
}
.page__item.show-right .page__item-before {
	background-position: 0 42px;
}
.page__text strong {
	font-family: "Arial Bold", sans-serif;
}

.page__text {
	padding: 0px 10px;
}

.disabled {
	color: #999;
}

.page__wrapper--right {
	float: right;
	width: 189px;
	margin-right: 22px;
}

.page__wrapper--left {
	/*float: left;*/
	width: 860px;
	margin-left: 10px;
	height: 125px;
}
.page__item-wrapper1 {
	height: 42px;
	width: 855px;

}
.page__item-wrapper2 {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	/*display: table-cell;*/
	/*vertical-align: middle;*/
}

.page__item-wrapper--image {
	position: absolute;
	top: 50%;
	left: 35px;
	z-index: -1;
	margin-top: -19px;
}

#task-btns {
	/*text-align:center;*/
}
.page__question_container{
	top: 250px;
	left: 50px;
}
.page__bubble_right_lower{
	top: 180px;
	left: 217px;
	width: 550px;
	height: 60px;
}
.page__bubble_left_lower{
	top: 15px;
	left: 500px;
	height: 100px;
	width: 375px;
}
.page__bubble_right_lower2{
	top: 158px;
	height: 41px;
	left: 350px;
	width: 509px;
}