.container {
	position: relative;
	background: url('../img/13_bg.jpg')  no-repeat;
  padding-top: 0px;
}
.container_carousel{
top: 49px;
left: 238px;
width: 546px;
height: 316px;
}

/*.right {*/
	/*opacity: 0.5;*/
	/*filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);*/
/*}*/

.right{
	transition: 0.3s linear;
	transition-property: opacity;
}

.right.opacity{
	opacity: .1;
}
.bubble {
	margin-bottom: 10px;
	padding: 0 6px;
	background: #fff;
}
.bubble_shape-lr {
	border-radius: 7px 0;
}
.bubble_shape-rl {
	border-radius: 0 7px;
}
.bubble_color-1 {
	border: 1px solid #003076;
}
.bubble_color-2 {
	border: 1px solid #967938;
}
.item__text-content {
	position: absolute;
  top: 7px;
  left: 22px;
  z-index: 20;
	width: 502px;
	padding: 6px;
	font-size: 18px;
	text-align: center;
	color: #253e66;
}
.item__text-content_page-13-1 {
	top: 50%;
	transform: translate(0,-50%);
}
.item__text-important {
	color: #d51216;
}