<div class="page-container" ng-controller="TaskRangingSwapableCtrl as $ctrl">
	<p class="text">Найти нужные инструменты и материалы на этом складе будет явно непросто. Попробуйте их упорядочить. С помощью стрелок переместите предметы на отведенные им полки.</p>
	<div class="sort-wrapper sort-wrapper_page-02-16">
		<div class="custom-block_page-02-16 sort">
			<div class="table-block table-block_page-02-16 fixed fixed_page-02-16_1" data-category="product"></div>
      <div class="table-block table-block_page-02-16 swapable" data-category="product">
        <img src="pages/chapter02/page16/img/item-1.png"
             alt="Коробка с надписью 'Рафинад'" 
             height="52">
        <img src="pages/chapter02/page16/img/item-1.png"
             alt="Коробка с надписью 'Рафинад'" 
             height="52">
        <img src="pages/chapter02/page16/img/item-1.png"
             alt="Коробка с надписью 'Рафинад'" 
             height="52">
      </div>
      <div class="table-block table-block_page-02-16 swapable" data-category="product">
        <img src="pages/chapter02/page16/img/item-2.png"
             alt="Мешок с надписью 'Сахар'" 
             height="52">
        <img src="pages/chapter02/page16/img/item-2.png"
             alt="Мешок с надписью 'Сахар'" 
             height="52">
        <img src="pages/chapter02/page16/img/item-2.png"
             alt="Мешок с надписью 'Сахар'" 
             height="52">
      </div>
      <div class="table-block table-block_page-02-16 fixed fixed_page-02-16_2" data-category="tool"></div>
      <div class="table-block table-block_page-02-16 swapable" data-category="tool">
        <img src="pages/chapter02/page16/img/item-3.png"
             alt="Перфоратор" 
             height="52">
        <img src="pages/chapter02/page16/img/item-3.png"
             alt="Перфоратор" 
             height="52">
        <img src="pages/chapter02/page16/img/item-3.png"
             alt="Перфоратор" 
             height="52">
      </div>
      <div class="table-block table-block_page-02-16 swapable" data-category="tool">
        <img src="pages/chapter02/page16/img/item-4.png"
             alt="Набор гаечных ключей" 
             height="52">
        <img src="pages/chapter02/page16/img/item-4.png"
             alt="Набор гаечных ключей" 
             height="52">
        <img src="pages/chapter02/page16/img/item-4.png"
             alt="Набор гаечных ключей" 
             height="52">
      </div>
      <div class="table-block table-block_page-02-16 fixed fixed_page-02-16_3" data-category="box"></div>
      <div class="table-block table-block_page-02-16 swapable" data-category="box">
        <img src="pages/chapter02/page16/img/item-5.png"
             alt="Пустая бочка" 
             height="52">
        <img src="pages/chapter02/page16/img/item-5.png"
             alt="Пустая бочка" 
             height="52">
        <img src="pages/chapter02/page16/img/item-5.png"
             alt="Пустая бочка" 
             height="52">
      </div>
      <div class="table-block table-block_page-02-16 swapable" data-category="box">
        <img src="pages/chapter02/page16/img/item-6.png"
             alt="Раскрытая коробка" 
             height="52">
        <img src="pages/chapter02/page16/img/item-6.png"
             alt="Раскрытая коробка" 
             height="52">
        <img src="pages/chapter02/page16/img/item-6.png"
             alt="Раскрытая коробка" 
             height="52">
      </div>
		</div> 
	</div>
	<div class="btn-box">
  <button class="btn btn_restart"
          ng-class="{'btn_disabled': $ctrl.getBtnState().restart}" 
          ng-click="$ctrl.removeRestart()">Начать заново
  </button>
  <button class="btn btn_answer" 
          ng-class="{'btn_disabled': $ctrl.getBtnState().answer}" 
          ng-click="$ctrl.checkAnswer()">Принять ответ
  </button>
</div>
</div>