<div class="page-container page-17-02 task-note-style">
	<section class="page-head">
		<p>ЗАДАНИЕ 8</p>
	</section>

	<section >
		<div class="page-block-text">
			<p class="task-text">Запишите свой вариант ответа на звонок клиента в каждой ситуации.</p>
			<p class="text__hint">Введите нужный ответ с помощью клавиатуры.</p>
		</div>

		<section ng-controller="NoteColumnCtrl as $ctrl">
			<div class="task-note-column">
				<div class="task-note__body flex-container__task-note">
					<div class="flex-container__task-note__item">
						<div class="task-title">{{$ctrl.taskData.titles[0]}}</div>
						<div class="task-note_column" ng-repeat="item in $ctrl.taskData.questionList">
							<p class="task-note_item_input2">{{item.label}}</p>
						</div>
					</div>
					<div class="flex-container__task-note__item">
						<div class="task-title">{{$ctrl.taskData.titles[1]}}</div>
						<div class="task-note_column" ng-repeat="item in $ctrl.items.fields">
							<textarea class="task-note_item_input" maxlength="{{$ctrl.taskData.maxlength}}">{{item.text}}</textarea>
						</div>
					</div>
				</div>
			</div>

			<section class="btn-box">
				<button class="btn btn_answer" ng-click="$ctrl.saveNote()">Сохранить</button>
			</section>
		</section>
	</section>
</div>