 .btn {
  width: 48px;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn-box {
  padding: 4px;
  text-align: center;
}
/***************************************************************
/  Buttons for Header and modals
/**************************************************************/
.btn_close-course {
  position: absolute;
  top: 17px;
  right: 16px;
  width: 30px;
  height: 22px;
}
.btn_close-course svg {
  fill: $first-color;
}
.btn_close-course:hover svg {
  fill: $hover-color;
}
.btn_close-add-info {
  width: 100px;
  min-height: 30px;
  color: $third-color;
  background: $elem-bg-color;
}
.close-modal-btn {
  position: absolute;
  top: 0px;
  right: 0px;
}
.close-modal-btn svg {
  fill: $third-color;
}
.close-modal-btn:hover svg {
  fill: $hover-color;
}
.btn_nav {
  width: 115px;
}
.btn_nav svg {
  fill: #989898;
}

.btn_nav-help,
.btn_nav-about,
.btn_nav-stat,
.btn_nav-menu{
  width: 60px;
  height: 50px;
}
.btn_nav-help,
.btn_nav-about,
.btn_nav-stat {
  display: none;
}

.btn_nav-menu svg,
.btn_nav-about svg,
.btn_nav-stat svg,
.btn_nav-help svg {
  position: relative;
  left: -6px;
  fill: $first-color;
}
.btn_nav-menu:hover svg,
.btn_nav-about:hover svg,
.btn_nav-stat:hover svg,
.btn_nav-help:hover svg {
  fill: $hover-color;
}

.btn_nav-back:hover svg,
.btn_nav-forward:hover svg {
  fill: $hover-color;
}
.btn_nav-back-disabled,
.btn_nav-forward-disabled {
  pointer-events: none;
}
.btn_nav-back-disabled svg,
.btn_nav-forward-disabled svg {
  fill: $hover-color;
}
/***************************************************************
/  Buttons for <custom-audio></custom-audio>
/**************************************************************/
.btn_audio-play,
.btn_audio-mute,
.btn_audio-restart {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}
.btn_audio-mute,
.btn_audio-restart {
  display: none;
}
.btn_audio-play svg,
.btn_audio-pause svg,
.btn_audio-mute svg,
.btn_audio-restart svg {
  fill: $first-color;
}
.btn_audio-play:hover svg,
.btn_audio-pause:hover svg,
.btn_audio-mute:hover svg,
.btn_audio-restart:hover svg {
  fill: $hover-color;
}

.no-audio {
  .btn_audio-play svg,
  .btn_audio-pause svg,
  .btn_audio-mute svg,
  .btn_audio-restart svg {
    fill: $disable-color;
  }
}
/***************************************************************
/  Buttons for pages
/**************************************************************/
.btn_add-info {
  width: 140px;
  height: 30px;
  color: #fff;
  background: #989898;
}
.btn_add-info:hover {
  background: #d1d3d4;;
}
.btn_current-page {
  width: 80px;
  background: $main-theme-color;
}
.btn_answer,
.btn_restart {
  width: 150px;
  height: 32px;
  margin: 0 10px;
  font-size: 19px;
  color: $light-text-color;
  background: #989898;
  border-radius: 4px;
}
.btn_disabled {
  background: #e8ebe4;
  pointer-events: none;
}
.btn_answer:hover,
.btn_restart:hover {
  background: $third-color;
}
.btn_nav-active {
  position: relative;
  z-index: 20;
  box-shadow: 0 0 4px 2px #fff; 
  pointer-events: auto;
}
@media(min-width: 769px) {
  /***************************************************************
  /  Buttons for Header and modals
  /**************************************************************/
  .btn_nav-help,
  .btn_nav-about,
  .btn_nav-stat {
    display: inline;
  }
  .btn_close-course {
    top: 4px;
    right: 16px;
  }
  /***************************************************************
  /  Buttons for <custom-audio></custom-audio>
  /**************************************************************/
  .btn_audio-mute,
  .btn_audio-restart {
    display: flex;
  }
}