.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1024px;
  height: 58px;
  background: #e8ebe4;
}
.footer_btn-box {
  display: flex;

  .paginator {
    margin: 0 35px;
    background: #fff;
    font-family: Consolas;
    font-size: 18px;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
}

@media #{$tablet} {
  .footer_btn-box {
    flex-grow: 2;
    justify-content: space-between;

    .paginator {
      margin: 0;
    }
  }
  .footer_audio-box {
    flex-grow: 1;
  }
}