.modal_nav-menu {
  top: 62px;
  left: 0;
  width: 500px;
  height: 635px;
	background: $elem-bg-color;
	box-shadow: 4px 4px 4px rgba(100,100,100, 0.8);
	z-index: 4;
  overflow: auto;
  font-family: Arial;
  font-size: 18px;
}
.menu-slide-in {
  animation: menu-slide-in 0.3s linear;
}
.modal_nav-menu_list,
.modal_nav-menu_list__pages {
  list-style: none;
  padding: 0;
}
.modal_nav-menu_list {
  margin-top: 0;
}

.modal_nav-menu_head {
  height: 60px;
  padding-left: 10px;
  margin: 0;
  line-height: 60px;
}

.modal_nav-menu_chapter,
.menu_list__page-item {
  display: flex;
  align-items: center;
  padding: 2px 0;
  min-height: 35px;
  border-bottom: 1px solid #666;
}
.modal_nav-menu_chapter {
  padding-left: 10px;
  cursor: default;
  background: $second-color;
}
.menu_list__page-item {
  padding-left: 25px;
  cursor: pointer;
  
  &.current {
    position: relative;
    &:before {
      position: absolute;
      top: 50%;
      left: 5px;
      content: '';
      width: 0;
      height: 0;
      border-left: 10px solid $third-color;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      transform: translate(0,-50%);
    }
  }
  &:hover {
    background: $hover-color;
  }
}

@media #{$tablet} {
  .modal_nav-menu {
    width: 100%;
    height: calc(100vh - 59px - 58px);
  }
}