.modal_nav-about {
  top: 60px;
  left: calc(50% - 380px);
  width: 760px;
  height: calc(100vh - 60px - 58px);
  max-height: calc(756px - 60px - 58px);
  background: #fff;
  box-shadow: 4px 4px 4px rgba(100,100,100, 0.8);
  z-index: 4;
  overflow: auto;
  font-family: Arial;
  font-size: 18px;
}
.about-head {
  height: 50px;
  margin: 0;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  border-bottom: 2px solid $first-color;
}
.about-author {
  padding: 0 15px;
  margin-top: 20px;
  margin-bottom: 20px;

  p {
    padding: 0;
    margin: 0;
  }
}