.modal_nav-stats {
  top: 60px;
  left: calc(50% - 380px);
  width: 760px;
  height: calc(100vh - 60px - 58px);
  max-height: calc(756px - 60px - 58px);
  background: #fff;
  box-shadow: 4px 4px 4px rgba(100,100,100, 0.8);
  z-index: 4;
  overflow: auto;
  font-family: Arial;
  font-size: 18px;
}
.modal_nav-stats_head {
  height: 50px;
  margin: 0;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  border-bottom: 2px solid $first-color;
}
.modal_nav-stats_total {
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid #666;
}
.modal_nav-stats__item {
  position: relative;
  display: flex;
  height: 35px;
  line-height: 35px;
  padding-left: 40px;
  border-bottom: 1px solid #666;
  cursor: pointer;
  &:hover {
    background: $hover-color;
  }
  svg {
    position: absolute;
    top: 9px;
    left: 10px;
  }
  .nav-stats__item_name {
    width: 100px;
    margin-right: 25px;
  }
}

@media #{$tablet} {
  .modal_nav-stats {
    left: 0;
    width: 100%;
    height: calc(100vh - 59px - 58px);
  }
}