<p class="text">{{$ctrl.taskText}}</p>
<div class="moving-blocks">
  <div class="moving-blocks__wrapper">
    <div class="moving-blocks__btn-wrapper">
      <div class="button-box moving-blocks__row" style="margin-top: {{item.marginTop}}" ng-repeat="item in $ctrl.answerList">
        <button class="arrow arrow_down" ng-click="$ctrl.toArrowDown($event)"></button>
      </div>
    </div>
    <div class="moving-blocks__block-wrapper">
      <div class="moving-blocks__item moving-blocks__row" style="margin-top: {{item.marginTop}}" data-section="{{item.section}}" ng-repeat="item in $ctrl.answerList">
        <img ng-src="{{item.src}}" height="52" alt="box">
        <img ng-src="{{item.src}}" height="52" alt="box">
      </div>
    </div>
    <div class="moving-blocks__btn-wrapper">
      <div class="button-box moving-blocks__row" style="margin-top: {{item.marginTop}}" ng-repeat="item in $ctrl.answerList">
        <button class="arrow arrow_up" ng-click="$ctrl.toArrowUp($event)"></button>
      </div>
    </div>
  </div>
</div>
<div class="btn-box">
  <button class="btn btn_restart" ng-click="$ctrl.removeRestart()">Начать заново</button>
  <button class="btn btn_answer" ng-click="$ctrl.checkAnswer()">Принять ответ</button>
</div>
<popup-menu-comment title="{{$ctrl.commentTitle}}" text="{{$ctrl.commentText}}" visible="$ctrl.showComment" ng-show="$ctrl.showComment"></popup-menu-comment>