.container {
	position: relative;
	background: url('../img/12_01.jpg')  no-repeat;
	padding-top: 0px;
}
.page__bubble_right_lower{
	top: 10px;
	height: 60px;
}
.page__bubble_left_lower{
	top: 75px;
	height: 94px;
}

.page__bubble_right_top--bubble2 {
	top: 160px;
	height: 41px;
}

.page__bubble_down_left{
	left: 100px;
	top: 285px;
	height: 145px;
	width: 800px;
}
.page__bubble_down_left:after {
	right: 134px;
}

#task-container{
	height: 94px;
}
#task-btns{
	margin-left: 217px;
	margin-top: 29px;
}
.page__wrapper--right {
	float: right;
	width: 189px;
	margin-right: 22px;
}

.page__wrapper--left {
	width: 700px;
	margin-left: 10px;
	height: 125px;
}
.page__item-wrapper1 {
	height: 42px;
	width: 745px;

}


.page__item-wrapper--image {
	position: absolute;
	top: 50%;
	left: 35px;
	z-index: -1;
	margin-top: -19px;
}


.page__question_container{
	top: 250px;
	left: 130px;
}

.page__bubble_right_lower{
	top: 10px;
	left: 150px;
	height: 115px;
	width: 550px;
}



