@charset "UTF-8";
/* background color outside pages */
/* background color of all pages */
/* Main colors of the theme */
/* блуе */
/* lime */
/* orange */
/* red */
/* red */
/* grey */
/* бирюзовый */
/* title text color in header */
/* simple text color on light blocks */
/* simple text color on dark blocks */
/* lightgrey color for blocks and element panels */
/* Media Queries */
.header {
  max-width: 1024px;
  position: relative;
  border-bottom: 2px solid #104e99; }

.header__content {
  display: flex;
  align-items: center;
  height: 60px; }

.header__btns {
  width: 295px;
  padding-left: 15px; }

.header__title {
  width: calc(100% - 230px); }

.header__title-course,
.header__title-chapter {
  height: 30px;
  padding-left: 10px;
  margin: 0;
  background: #104e99;
  color: #fff;
  font-family: Arial;
  font-size: 20px;
  line-height: 30px; }

.header__title-course {
  background: #fff;
  color: #666;
  font-family: Consolas;
  font-weight: bold;
  font-size: 22px; }

body {
  margin: 0;
  padding: 0; }

.course-wrapper {
  position: relative;
  max-width: 1024px;
  margin: auto;
  box-shadow: 0 0 25px 0px rgba(60, 60, 60, 0.7);
  overflow: hidden; }

.page-wrapper {
  position: relative;
  max-width: 1024px;
  min-height: 636px;
  overflow: hidden; }

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: transform 1s ease;
  transform: translate3d(0, 0, 0); }
  .page.ng-enter {
    transform: translate3d(100%, 0, 0); }
  .page.ng-enter-active {
    transform: translate3d(0, 0, 0); }
  .page.ng-leave {
    transform: translate3d(0, 0, 0); }
  .page.ng-leave-active {
    transform: translate3d(-100%, 0, 0); }

.backward .page.ng-enter {
  transform: translate3d(-100%, 0, 0); }

.backward .page.ng-enter-active {
  transform: translate3d(0, 0, 0); }

.backward .page.ng-leave {
  transform: translate3d(0, 0, 0); }

.backward .page.ng-leave-active {
  transform: translate3d(100%, 0, 0); }

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1024px;
  height: 58px;
  background: #e8ebe4; }

.footer_btn-box {
  display: flex; }
  .footer_btn-box .paginator {
    margin: 0 35px;
    background: #fff;
    font-family: Consolas;
    font-size: 18px;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px; }

.modal {
  position: absolute; }

.modal_cloak {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  z-index: 3; }

.modal_nav-menu {
  top: 62px;
  left: 0;
  width: 500px;
  height: 635px;
  background: #f1f1f1;
  box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.8);
  z-index: 4;
  overflow: auto;
  font-family: Arial;
  font-size: 18px; }

.modal_nav-menu_list,
.modal_nav-menu_list__pages {
  list-style: none;
  padding: 0; }

.modal_nav-menu_list {
  margin-top: 0; }

.modal_nav-menu_head {
  height: 60px;
  padding-left: 10px;
  margin: 0;
  line-height: 60px; }

.modal_nav-menu_chapter,
.menu_list__page-item {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #666; }

.modal_nav-menu_chapter {
  padding-left: 10px;
  cursor: default;
  background: #8db321; }

.menu_list__page-item {
  padding-left: 25px;
  cursor: pointer; }
  .menu_list__page-item.current {
    position: relative; }
    .menu_list__page-item.current:before {
      position: absolute;
      top: 50%;
      left: 5px;
      content: '';
      width: 0;
      height: 0;
      border-left: 10px solid #f15e00;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      transform: translate(0, -50%); }
  .menu_list__page-item:hover {
    background: #d1d3d4; }

.modal_nav-stats {
  top: 60px;
  left: calc(50% - 380px);
  width: 760px;
  height: calc(100vh - 60px - 58px);
  max-height: calc(756px - 60px - 58px);
  background: #fff;
  box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.8);
  z-index: 4;
  overflow: auto;
  font-family: Arial;
  font-size: 18px; }

.modal_nav-stats_head {
  height: 50px;
  margin: 0;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  border-bottom: 2px solid #104e99; }

.modal_nav-stats_total {
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid #666; }

.modal_nav-stats__item {
  position: relative;
  height: 35px;
  line-height: 35px;
  padding-left: 40px;
  border-bottom: 1px solid #666;
  cursor: pointer; }
  .modal_nav-stats__item:hover {
    background: #d1d3d4; }
  .modal_nav-stats__item svg {
    position: absolute;
    top: 9px;
    left: 10px; }

.btn {
  width: 48px;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer; }

.btn-box {
  padding: 4px;
  text-align: center; }

/***************************************************************
/  Buttons for Header and modals
/**************************************************************/
.btn_close {
  width: 28px;
  height: 28px; }

.btn_close svg {
  fill: none;
  stroke: #104e99;
  stroke-width: 2.45;
  stroke-linejoin: round;
  stroke-miterlimit: 3; }

.btn_close:hover svg {
  stroke: #d1d3d4; }

.btn_close-course {
  position: absolute;
  top: 17px;
  right: 16px;
  width: 22px;
  height: 22px; }

.btn_close-add-info {
  width: 100px;
  min-height: 30px;
  color: #f15e00;
  background: #f1f1f1; }

.btn_nav {
  width: 115px; }

.btn_nav svg {
  fill: #989898; }

.btn_nav-help,
.btn_nav-about,
.btn_nav-stat,
.btn_nav-menu {
  width: 60px;
  height: 50px; }

.btn_nav-help,
.btn_nav-about,
.btn_nav-stat {
  display: none; }

.btn_nav-menu svg,
.btn_nav-about svg,
.btn_nav-stat svg,
.btn_nav-help svg {
  position: relative;
  left: -6px;
  fill: #104e99; }

.btn_nav-menu:hover svg,
.btn_nav-about:hover svg,
.btn_nav-stat:hover svg,
.btn_nav-help:hover svg {
  fill: #d1d3d4; }

.btn_nav-back:hover svg,
.btn_nav-forward:hover svg {
  fill: #d1d3d4; }

.btn_nav-back-disabled,
.btn_nav-forward-disabled {
  pointer-events: none; }

.btn_nav-back-disabled svg,
.btn_nav-forward-disabled svg {
  fill: #d1d3d4; }

/***************************************************************
/  Buttons for <custom-audio></custom-audio>
/**************************************************************/
.btn_audio-play,
.btn_audio-mute,
.btn_audio-restart {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none; }

.btn_audio-mute,
.btn_audio-restart {
  display: none; }

.btn_audio-play svg,
.btn_audio-pause svg,
.btn_audio-mute svg,
.btn_audio-restart svg {
  fill: #104e99; }

.btn_audio-play:hover svg,
.btn_audio-pause:hover svg,
.btn_audio-mute:hover svg,
.btn_audio-restart:hover svg {
  fill: #d1d3d4; }

/***************************************************************
/  Buttons for pages
/**************************************************************/
.btn_add-info {
  width: 140px;
  height: 30px;
  color: #fff;
  background: #989898; }

.btn_add-info:hover {
  background: #d1d3d4; }

.btn_current-page {
  width: 80px;
  background: #fff; }

.btn_answer,
.btn_restart {
  width: 150px;
  height: 32px;
  margin: 0 10px;
  font-size: 19px;
  color: #fff;
  background: #989898;
  border-radius: 4px; }

.btn_disabled {
  background: #e8ebe4;
  pointer-events: none; }

.btn_answer:hover,
.btn_restart:hover {
  background: #f15e00; }

.btn_nav-active {
  position: relative;
  z-index: 20;
  box-shadow: 0 0 4px 2px #fff;
  pointer-events: auto; }

.task__single-choice-item {
  cursor: pointer; }

.task__single-choice-question {
  position: relative;
  margin-bottom: 10px;
  margin-left: 25px; }
  .task__single-choice-question:before {
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    width: 22px;
    height: 22px;
    background: url(../img/tasks/radiobutton.png) no-repeat 0px 0px; }
  .task__single-choice-question.radio-selected:before {
    background-position: 0px -24px; }

.task__marker-choice-body {
  display: flex;
  margin-bottom: 25px; }
  .task__marker-choice-body .btn_task-video {
    width: 312px;
    height: 230px;
    border: none; }
  .task__marker-choice-body .task__marker-choice_items {
    padding-left: 20px; }
    .task__marker-choice-body .task__marker-choice_items .task__marker-choice-item {
      margin-bottom: 20px;
      cursor: pointer; }

.marker-box {
  margin-bottom: 25px;
  display: flex;
  justify-content: center; }

.btn_task-marker__green {
  background: url(../img/tasks/marker-green.svg) no-repeat;
  width: 130px;
  height: 90px; }

[data='marker1'] {
  background: #B3DF3E; }

[data='marker0'] {
  background: #EA4F33; }

.btn_task-marker__red {
  background: url(../img/tasks/marker-red.svg) no-repeat;
  width: 130px;
  height: 90px; }

.btn_task-marker__green.selected,
.btn_task-marker__red.selected {
  box-shadow: 0 0 0 3px #666 inset;
  border-radius: 15px; }

.audio {
  display: flex;
  align-items: center;
  width: 44px; }

.audio__seek-slider,
.audio__time-display,
.audio__volume-slider {
  display: none; }

/*** PAGES ***/
.page-container {
  height: 100%;
  width: 100%;
  font-family: Arial; }

.page_paragraph {
  margin: 10px;
  font-size: 18px; }

.page-text__bold {
  font-weight: bold; }

.page-text__color-green {
  color: #66cfb0; }

.page_info {
  position: relative;
  width: 80%;
  padding: 5px 10px 5px 60px;
  margin: auto;
  background: #f1f1f1; }
  .page_info:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 40px;
    width: 5px;
    height: calc(100% - 20px);
    background: #ccc; }
  .page_info .page_info_text {
    margin: 0;
    font-size: 16px; }

.page-01-01 {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background: url(../img/fon.svg) no-repeat;
  background-size: contain; }
  .page-01-01 .page-01-01_manager {
    position: absolute;
    bottom: 0;
    left: 0; }
  .page-01-01 .page-logo {
    z-index: 1; }
  .page-01-01 .intro-text {
    width: 380px;
    z-index: 1; }
    .page-01-01 .intro-text .intro-text_chapter {
      color: #104e99;
      font-size: 80px;
      border-bottom: 20px solid #dce8f7; }
    .page-01-01 .intro-text .intro-text_subchapter {
      color: #596dc5;
      font-size: 32px; }
      .page-01-01 .intro-text .intro-text_subchapter p {
        margin: 15px 0px; }

.page-01-02_img__wrap {
  width: 100%;
  text-align: center; }
  .page-01-02_img__wrap .page-01-02_activity_head {
    text-align: center;
    font-family: Consolas;
    font-size: 20px;
    font-weight: bold;
    color: #666; }

.page-01-02_activity {
  position: relative;
  width: 80%;
  height: 300px;
  margin: 0 auto 30px; }
  .page-01-02_activity .page-01-02_activity_item {
    position: absolute; }
    .page-01-02_activity .page-01-02_activity_item.page-01-02_activity_item__control {
      top: calc(50% - 25px);
      left: 0; }
    .page-01-02_activity .page-01-02_activity_item.page-01-02_activity_item__plan {
      top: 0;
      left: calc(50% - 100px); }
    .page-01-02_activity .page-01-02_activity_item.page-01-02_activity_item__org {
      top: calc(50% - 25px);
      right: 0; }
    .page-01-02_activity .page-01-02_activity_item.page-01-02_activity_item__motiv {
      bottom: 0;
      left: calc(50% - 100px); }
    .page-01-02_activity .page-01-02_activity_item .page-01-02_item__text {
      width: 200px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      color: #666;
      background: #edf9f5;
      border: 2px solid #66cfb0; }
  .page-01-02_activity .activity-arrow {
    position: absolute;
    width: 200px;
    height: 60px;
    background: url(../img/arrow.png) no-repeat 50% 50%; }
    .page-01-02_activity .activity-arrow.activity-arrow__control {
      top: calc(50% - 118px);
      left: calc(50% - 285px);
      transform: rotate(-32deg); }
    .page-01-02_activity .activity-arrow.activity-arrow__plan {
      top: calc(50% - 118px);
      right: calc(50% - 285px);
      transform: rotate(32deg); }
    .page-01-02_activity .activity-arrow.activity-arrow__org {
      bottom: calc(50% - 118px);
      right: calc(50% - 285px);
      transform: rotate(152deg); }
      .page-01-02_activity .activity-arrow.activity-arrow__org p {
        transform: rotate(180deg); }
    .page-01-02_activity .activity-arrow.activity-arrow__motiv {
      bottom: calc(50% - 118px);
      left: calc(50% - 285px);
      transform: rotate(-152deg); }
      .page-01-02_activity .activity-arrow.activity-arrow__motiv p {
        transform: rotate(180deg); }
    .page-01-02_activity .activity-arrow p {
      height: 30px;
      margin: 0;
      line-height: 30px;
      color: #666;
      text-align: center; }

.page-02-01_content {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px; }

.page-02-01_activity {
  position: relative;
  width: 580px;
  height: 300px;
  margin: 0 0 30px 0; }
  .page-02-01_activity .page-02-01_activity_item {
    position: absolute; }
    .page-02-01_activity .page-02-01_activity_item.page-02-01_activity_item__control {
      top: calc(50% - 25px);
      left: 15px; }
    .page-02-01_activity .page-02-01_activity_item.page-02-01_activity_item__plan {
      top: 0;
      left: calc(50% - 95px); }
    .page-02-01_activity .page-02-01_activity_item.page-02-01_activity_item__org {
      top: calc(50% - 25px);
      right: 15px; }
    .page-02-01_activity .page-02-01_activity_item.page-02-01_activity_item__motiv {
      bottom: 0;
      left: calc(50% - 95px); }
    .page-02-01_activity .page-02-01_activity_item .page-02-01_item__text {
      width: 190px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      color: #666;
      background: #edf9f5;
      border: 2px solid #66cfb0; }
  .page-02-01_activity .activity-arrow {
    position: absolute;
    width: 200px;
    height: 60px;
    background: url(../img/arrow.png) no-repeat 50% 50%; }
    .page-02-01_activity .activity-arrow.activity-arrow__control {
      top: calc(50% - 118px);
      left: calc(50% - 285px);
      transform: rotate(-32deg); }
    .page-02-01_activity .activity-arrow.activity-arrow__plan {
      top: calc(50% - 118px);
      right: calc(50% - 285px);
      transform: rotate(32deg); }
    .page-02-01_activity .activity-arrow.activity-arrow__org {
      bottom: calc(50% - 118px);
      right: calc(50% - 285px);
      transform: rotate(152deg); }
      .page-02-01_activity .activity-arrow.activity-arrow__org p {
        transform: rotate(180deg); }
    .page-02-01_activity .activity-arrow.activity-arrow__motiv {
      bottom: calc(50% - 118px);
      left: calc(50% - 285px);
      transform: rotate(-152deg); }
      .page-02-01_activity .activity-arrow.activity-arrow__motiv p {
        transform: rotate(180deg); }
    .page-02-01_activity .activity-arrow p {
      height: 30px;
      margin: 0;
      line-height: 30px;
      color: #666;
      text-align: center; }

.page-02-01_descript {
  padding-left: 30px; }
  .page-02-01_descript .page-02-01_descript_item {
    position: relative;
    width: 300px;
    margin-bottom: 20px;
    font-size: 18px; }
    .page-02-01_descript .page-02-01_descript_item:before {
      content: '';
      position: absolute;
      top: 7px;
      left: -20px;
      width: 7px;
      height: 7px;
      background: #989898;
      border-radius: 50%; }

.page-02-02 {
  overflow: auto; }
  .page-02-02 .task__marker-choice_video {
    margin-bottom: 20px;
    margin-left: 20px; }
  .page-02-02 .task__marker-choice_items {
    padding-right: 10px; }
    .page-02-02 .task__marker-choice_items .task__marker-choice-item {
      margin-bottom: 15px;
      padding: 5px 0 5px 5px;
      border: 1px solid #ccc;
      border-radius: 10px; }
    @media (max-width: 768px){
  .header .header__content{
    align-items: flex-start;
    height: 80px; }
  .header .header__content .header__btns{
    position: absolute; }
  .header .header__content .header__title-course{
    height: 50px;
    padding-left: 85px;
    line-height: 50px; }
  .header .header__content .header__title{
    width: 100%; }
  body, html{
    height: 100%; }
  .course-wrapper{
    height: 100%; }
  .page-wrapper{
    height: calc(100% - 140px);
    min-height: auto; }
  .footer_btn-box{
    flex-grow: 2;
    justify-content: space-between; }
  .footer_btn-box .paginator{
    margin: 0; }
  .footer_audio-box{
    flex-grow: 1; }
  .modal_nav-menu{
    width: 100%;
    height: calc(100vh - 59px - 58px); }
  .modal_nav-stats{
    left: 0;
    width: 100%;
    height: calc(100vh - 59px - 58px); }
  .task__marker-choice-body{
    flex-direction: column;
    align-items: center; }
  .page_info{
    width: 90%;
    padding-left: 10px; }
  .page_info:before{
    display: none; }
  .page-01-01{
    background-position: left bottom;
    background-size: 85%; }
  .page-01-01 .page-01-01_manager{
    display: none; }
  .page-01-01 .page-logo{
    display: none; }
  .page-01-01 .intro-text{
    width: 320px; }
  .page-01-02{
    overflow: auto; }
  .page-01-02_activity{
    width: calc(100% - 30px);
    height: 275px; }
  .page-01-02_activity .page-01-02_activity_item.page-01-02_activity_item__control{
    top: calc(50% - 22px);
    left: 0; }
  .page-01-02_activity .page-01-02_activity_item.page-01-02_activity_item__plan{
    top: 0;
    left: calc(50% - 85px); }
  .page-01-02_activity .page-01-02_activity_item.page-01-02_activity_item__org{
    top: calc(50% - 22px);
    right: 0; }
  .page-01-02_activity .page-01-02_activity_item.page-01-02_activity_item__motiv{
    bottom: 0;
    left: calc(50% - 85px); }
  .page-01-02_activity .page-01-02_activity_item .page-01-02_item__text{
    width: 170px;
    height: 45px; }
  .page-01-02_activity .activity-arrow{
    position: absolute;
    width: 200px;
    height: 60px;
    background: url(../img/arrow.png) no-repeat 50% 50%; }
  .page-01-02_activity .activity-arrow.activity-arrow__control{
    left: calc(50% - 265px); }
  .page-01-02_activity .activity-arrow.activity-arrow__plan{
    right: calc(50% - 265px); }
  .page-01-02_activity .activity-arrow.activity-arrow__org{
    right: calc(50% - 265px); }
  .page-01-02_activity .activity-arrow.activity-arrow__motiv{
    left: calc(50% - 265px); }
  .page-02-01{
    overflow: auto; }
  .page-02-01_content{
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 10px; }
  .page-02-01_activity{
    width: calc(100% - 30px);
    height: 275px; }
  .page-02-01_activity .page-02-01_activity_item.page-02-01_activity_item__control{
    top: calc(50% - 22px);
    left: 0; }
  .page-02-01_activity .page-02-01_activity_item.page-02-01_activity_item__plan{
    top: 0;
    left: calc(50% - 85px); }
  .page-02-01_activity .page-02-01_activity_item.page-02-01_activity_item__org{
    top: calc(50% - 22px);
    right: 0; }
  .page-02-01_activity .page-02-01_activity_item.page-02-01_activity_item__motiv{
    bottom: 0;
    left: calc(50% - 85px); }
  .page-02-01_activity .page-02-01_activity_item .page-02-01_item__text{
    width: 170px;
    height: 45px; }
  .page-02-01_activity .activity-arrow{
    position: absolute;
    width: 200px;
    height: 60px;
    background: url(../img/arrow.png) no-repeat 50% 50%; }
  .page-02-01_activity .activity-arrow.activity-arrow__control{
    left: calc(50% - 265px); }
  .page-02-01_activity .activity-arrow.activity-arrow__plan{
    right: calc(50% - 265px); }
  .page-02-01_activity .activity-arrow.activity-arrow__org{
    right: calc(50% - 265px); }
  .page-02-01_activity .activity-arrow.activity-arrow__motiv{
    left: calc(50% - 265px); }
  .page-02-01_descript{
    padding-left: 45px; }
  .page-02-01_descript .page-02-01_descript_item{
    width: calc(100% - 50px); }
  .page-02-02 .task__marker-choice-body .task__marker-choice_items .task__marker-choice-item{
    margin-bottom: 15px; } }
    @media (max-width: 480px){
  .header .header__content .header__title-course{
    line-height: 19px;
    display: table-cell;
    vertical-align: middle; }
  .page-01-01 .intro-text{
    padding-left: 5px;
    background: rgba(255, 255, 255, 0.7); }
  .page-01-02 .page-01-02_activity .page-01-02_activity_item .page-01-02_item__text{
    width: 150px; }
  .page-01-02 .page-01-02_activity .activity-arrow{
    width: 165px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url(../img/arrow_turn.png) no-repeat; }
  .page-01-02 .page-01-02_activity .activity-arrow.activity-arrow__control{
    top: calc(50% - 105px);
    left: 0px;
    transform: rotate(0deg); }
  .page-01-02 .page-01-02_activity .activity-arrow.activity-arrow__plan{
    top: calc(50% - 105px);
    right: 0px;
    transform: rotate(0deg); }
  .page-01-02 .page-01-02_activity .activity-arrow.activity-arrow__org{
    bottom: calc(50% - 105px);
    right: 0px;
    transform: rotate(180deg); }
  .page-01-02 .page-01-02_activity .activity-arrow.activity-arrow__motiv{
    bottom: calc(50% - 105px);
    left: 0px;
    transform: rotate(180deg); }
  .page-01-02 .page-01-02_activity .activity-arrow p{
    height: auto;
    line-height: 1; }
  .page-02-01{
    overflow: auto; }
  .page-02-01 .page-02-01_activity .page-02-01_activity_item .page-02-01_item__text{
    width: 150px; }
  .page-02-01 .page-02-01_activity .activity-arrow{
    width: 165px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url(../img/arrow_turn.png) no-repeat; }
  .page-02-01 .page-02-01_activity .activity-arrow.activity-arrow__control{
    top: calc(50% - 105px);
    left: 0px;
    transform: rotate(0deg); }
  .page-02-01 .page-02-01_activity .activity-arrow.activity-arrow__plan{
    top: calc(50% - 105px);
    right: 0px;
    transform: rotate(0deg); }
  .page-02-01 .page-02-01_activity .activity-arrow.activity-arrow__org{
    bottom: calc(50% - 105px);
    right: 0px;
    transform: rotate(180deg); }
  .page-02-01 .page-02-01_activity .activity-arrow.activity-arrow__motiv{
    bottom: calc(50% - 105px);
    left: 0px;
    transform: rotate(180deg); }
  .page-02-01 .page-02-01_activity .activity-arrow p{
    height: auto;
    line-height: 1; }
  .task__marker-choice_video{
    margin-left: 0px; } }
    @media (min-width: 769px){
  /***************************************************************
  /  Buttons for Header and modals
  /**************************************************************/
  .btn_nav-help,
  .btn_nav-about,
  .btn_nav-stat{
    display: inline; }
  .btn_close-course{
    top: 4px;
    right: 16px; }
  /***************************************************************
  /  Buttons for <custom-audio></custom-audio>
  /**************************************************************/
  .btn_audio-mute,
  .btn_audio-restart{
    display: flex; } }
    @media (min-width: 768px){
  .audio{
    width: 402px; }
  .audio__seek-slider{
    display: inline;
    width: 56%; }
  .audio__volume-slider{
    display: inline;
    width: 20%; } }
