<div class="gallery">
	<p class="text" ng-bind-html="$ctrl.taskText"></p>
	<div class="gallery-wrapper">
		<div class="gallery-banner">
			<img class="gallery-banner__img" 
					 ng-src="{{$ctrl.banner.src}}" 
					 alt="{{$ctrl.banner.alt}}">
		</div>
		<div class="gallery-block">
		  <div class="gallery-item" 
		  		 ng-class="{'checked': item.checkedBlock}" 
		  		 ng-click="$ctrl.check($index)"  
		  		 ng-repeat="item in $ctrl.imageList">
		    <img class="gallery-img" 
		    		 ng-src="{{item.src}}" 
		    		 alt="{{item.alt}}" 
		    		 width="92" 
		    		 height="92"> 
		  </div>
		</div>
	</div>
</div>
<div class="btn-box">
	<button class="btn btn_restart"
          ng-class="{'btn_disabled': $ctrl.getBtnState().restart}" 
          ng-click="$ctrl.removeRestart()">Начать заново
  </button>
	<button class="btn btn_answer" 
          ng-class="{'btn_disabled': $ctrl.stateNum === 0 || $ctrl.getBtnState().answer}" 
          ng-click="$ctrl.checkAnswer()">Принять ответ
  </button>
</div>