.container {
	position: relative;
	background: url('../img/16_1.jpg')  no-repeat;
  padding-top: 0px;
}

.page__question_container{
	top: 174px;
	left: 174px;
}
.page__question_field {
	top: 62px;
	border: none;
	box-shadow: none;
	height: 150px;
	background: url('../img/bacgr1.png')  no-repeat;
	padding: 18px 22px;


}
.page__text_bubble {
	padding: 2px 21px;
}

