<p class="text">{{$ctrl.taskText}}</p>
<p class="text">Выберите несколько вариантов.</p>
<div class="tsak__multi-choice-body">
  <div class="task__multi-choice-item" 
      ng-repeat="question in $ctrl.questionList"  
      ng-click="$ctrl.selectAnswer($index)">
    <div class="task__multi-choice-question task-question" 
        ng-class="{'radio-selected': $ctrl.active[$index].selected}">
      {{question.label}}
    </div>
  </div>
</div>
<div class="btn-box" ng-if="!$ctrl.test">
  <button class="btn btn_restart" ng-click="$ctrl.removeRestart()">Начать заново</button>
  <button class="btn btn_answer" ng-class="{'btn_disabled': $ctrl.state == 0 || $ctrl.state == 2}" ng-click="$ctrl.checkAnswer($event)">Принять ответ</button>
</div>