<div class="page-container">

		<p class="text">При слове «стандарты» в первую очередь на память приходят ГОСТы. Конечно, ГОСТов никто не отменял, но в системе 5S стандартами называются специальные документы, в которых описаны наилучшие практики организации рабочих помещений. Это правила и схемы сортировки, упорядочения и чистки, которые были выработаны на предыдущих этапах 5S и в дальнейшем должны применяться регулярно. Это и называется – стандартизация.</p>
		<p class="text">
			<button class="btn btn_add-info" ng-click="$ctrl.showAddInfo = !$ctrl.showAddInfo">Это интересно!</button>
		</p>
		<div class="popup-menu-add-info text" ng-show="$ctrl.showAddInfo">
			<p class="text">В разработке стандартов должны принимать участие все работники. Ведь каждый из нас владеет ценной информацией о выполняемой работе, хотя зачастую мы этого не замечаем.</p>
			<button class="btn btn_close-popup-menu" ng-click="$ctrl.showAddInfo = !$ctrl.showAddInfo">Закрыть</button>
		</div>
		<p class="text text_highlight">Что же входит в стандарты 5S? Проще говоря, какие документы должны быть составлены для каждого рабочего помещения после сортировки, упорядочения и очистки?</p>
		<accordion first-open="false" ng-cloak>
			<accordion-panel heading="Схема территории с цветовыми зонами ответственности руководителей (для заводов). Схема объектов в рабочем  помещении, где внедряется 5S">
				<div class="banner-container">
					<img src="pages/chapter01/page20/img/territory-scheme.svg" alt="Схема территории" width="460">
				</div>			
			</accordion-panel>
			<accordion-panel heading="Фото стандартного вида рабочего места после применения 5S">
				<i style="color: green;">Здесь должно быть Фото</i>
			</accordion-panel>
			<accordion-panel heading="Стандарт сортировки">
				<ul class="simple-ul-list">
					<li class="simple-ul-item"><span class="simple-ul-text">список ответственных за отделение существенного от несущественного,</span></li>
					<li class="simple-ul-item"><span class="simple-ul-text">описание процедуры идентификации несущественных предметов,</span></li>
					<li class="simple-ul-item"><span class="simple-ul-text">шаблон «красного ярлыка»,</span></li>
					<li class="simple-ul-item"><span class="simple-ul-text">список зон временного хранения несущественных и неисправных предметов</span></li>
				</ul>
			</accordion-panel>
			<accordion-panel heading="Стандарт упорядочения">
				<ul class="simple-ul-list">
					<li class="simple-ul-item"><span class="simple-ul-text">список ответственных за упорядочение,</span></li>
					<li class="simple-ul-item"><span class="simple-ul-text">описание процедуры упорядочения,</span></li>
					<li class="simple-ul-item"><span class="simple-ul-text">шаблон этикетки для мест расположения существенных предметов,</span></li>
					<li class="simple-ul-item"><span class="simple-ul-text">описание цветовой разметки в рабочих помещениях.</span></li>
				</ul>
			</accordion-panel>
			<accordion-panel heading="Стандарт очистки">
				<ul class="simple-ul-list">
					<li class="simple-ul-item"><span class="simple-ul-text">список объектов, подлежащих очистке,</span></li>
					<li class="simple-ul-item"><span class="simple-ul-text">схема ответственности за чистку,</span></li>
					<li class="simple-ul-item"><span class="simple-ul-text">описание процедуры, инструментов и средств очистки для каждого объекта,</span></li>
					<li class="simple-ul-item"><span class="simple-ul-text">график проведения чисток.</span></li>
				</ul>
			</accordion-panel>
		</accordion>
		<p class="text">Визуализируйте! Чтобы сделать требования стандартов понятными и доступными всем сотрудникам, нужно вывешивать их в виде визуальной информации на специальных стендах. Например, в первую очередь можно вывесить щиты с описанием цветовой разметки.</p>
</div>

