.container {
	position: relative;
	background: url('../img/3_1.jpg')  no-repeat;
	padding-top: 0px;
}
.page__bubble_right_top {
	height: 80px;
	left: 294px;
	width: 550px;
}
.page__bubble_left_top{
	top: 126px;
	height: 94px;
	width: 565px;
	left: 200px;

}
.page__bubble_down_left{
	top: 281px;
	height: 136px;
	width: 576px;
}


#task-container{
	height: 94px;
}
#task-btns{
	margin-left: 76px;
	margin-top: 40px;
}

.page__wrapper--right {
	float: right;
	width: 189px;
	margin-right: 22px;
}

.page__wrapper--left {
	width: 516px;
	margin-left: 10px;
}
.page__item-wrapper1 {
	height: 57px;
	width: 550px;
}

.page__item-wrapper--image {
	position: absolute;
	top: 50%;
	left: 35px;
	z-index: -1;
	margin-top: -19px;
}

.page__question_container{
	top: 231px;
	left: 241px;
}