<div class="task-note-column">
	<!-- useColumns -->
	<div class="task-note__body flex-container__task-note" ng-if="$ctrl.useColumns">
		<div class="flex-container__task-note__item">
			<div class="task-title">{{$ctrl.taskData.titles[0]}}</div>
			<div class="task-note_column" ng-repeat="item in $ctrl.range(true)">
				<textarea class="task-note_item_input" maxlength="{{$ctrl.taskData.maxlength}}">{{item.text}}</textarea>
			</div>
		</div>
		<div class="flex-container__task-note__item">
			<div class="task-title">{{$ctrl.taskData.titles[1]}}</div>
			<div class="task-note_column" ng-repeat="item in $ctrl.range(false)">
				<textarea class="task-note_item_input task-note_item_input2" maxlength="{{$ctrl.taskData.maxlength}}">{{item.text}}</textarea>
			</div>
		</div>
	</div>

	<!-- don`t use -->
	<div class="task-note__body" ng-if="!$ctrl.useColumns">
		<div class="task-title">{{$ctrl.taskData.titles[0]}}</div>
	<div class="flex-container__task-note">
		<div class="task-note_item flex-container__task-note__item"
			 ng-repeat="item in $ctrl.items.fields">
			<textarea class="task-note_item_input task-note_item_input2" maxlength="{{$ctrl.taskData.maxlength}}">{{item.text}}</textarea>
		</div>

		</div>
	</div>
</div>

<section class="btn-box">
	<button class="btn btn_answer" ng-click="$ctrl.saveNote()">Сохранить</button>
</section>