<div class="page-container page-23-05" 
     ng-controller="TaskStrictSortableCtrl as $ctrl">
     <section class="page-head">
       <p>Задание 13</p>
     </section>
     <p></p>
  <p class="text" ng-bind-html="$ctrl.taskText"></p>
  <p class="text__hint">Перетащите цели в соответствующие блоки.</p>
  <div class="sortable-container"
       ng-class="{'window-disabled': !$ctrl.btnDisabledState.restart || $ctrl.end}">
    <div class="sortable-box sortable-box_{{$index}}"
         ng-repeat="item in $ctrl.taskData.exs.variant">
      <div class="sortable-box__item" 
           ng-class="{'sortable-box__item_false': item.answer === false,
                      'sortable-box__item_true': item.answer === true}"
           data-number="{{$index}}" 
           ng-bind-html="item.content"></div>
    </div>
  </div>
  <div class="btn-box">
    <button class="btn btn_restart"
            ng-class="{'btn_disabled': $ctrl.btnDisabledState.restart}" 
            ng-click="$ctrl.removeRestart()">Начать заново
    </button>
    <button class="btn btn_answer" 
            ng-class="{'btn_disabled': $ctrl.btnDisabledState.answer}" 
            ng-click="$ctrl.checkAnswer()">Принять ответ
    </button>
  </div>
</div>