<div class="page-container page-27-03 task-note-style">
	<section class="page-head">
		<p>Записная книжка. Задание 10</p>
	</section>

	<div class="page-block-text">
		<p>Какие приемы, на ваш взгляд, можно применить, если вас упорно не хотят соединять с ответственным лицом? Прокомментируйте эффективность каждого приема лично для вас. </p>
	</div>

<section ng-controller="MarkerNoteCtrl as $ctrl">
	<div class="task__marker-choice-body">
		<div class="marker-box">
	    <div class="marker"
	        ng-repeat="marker in $ctrl.markers"
	        ng-click="$ctrl.selectMarker(marker.id)"
	        ng-class="{'selected': $ctrl.marker == marker.id}">
	      <div class="marker_label">{{marker.label}}</div>
	    </div>
	  </div>

	  <div class="task__marker-choice_items">
	    <div class="task__marker-choice-item"
	        data="marker{{$ctrl.active[$index].marker}}"
	        ng-repeat="question in $ctrl.questionList"
	        ng-click="$ctrl.selectAnswer($index, $event)">
	      <div class="task__marker-choice-question"
	          ng-class="{'marker-selected': $ctrl.active[$index].selected}"
	          ng-class="marker+$ctrl.active[$index].marker">
	        {{question.label}}
	      </div>
	    </div>
	  </div>
	</div>
	<section class="btn-box">
		<button class="btn btn_answer" ng-click="$ctrl.saveNote()">СОХРАНИТЬ</button>
	</section>
</section>

</div>
