<div class="page-container page-03-05 page-task">
  <section class="page-head">
  	<p>ЗАДАНИЕ 32</p>
  </section>

  <p class="task-text">Посмотрите киноэпизоды. Определите, какие уловки используются в разных киноэпизодах. Соотнесите каждый киноэпизод с номером использованной уловки.
  </p>
  <p class="text__hint">Введите ответ с помощью клавиатуры. <br>
    Чтобы посмотреть описание уловки, нажмите на значок <button class="btn btn_add-info"></button> рядом с ней.
  <!-- ND_sails ЗАДАНИЕ 26 -->
  </p>

  <div class="display_1">
    <div class="flex-container flex-container2">
      <section class="page-block-text block-info">
        <div class="flex-container flex-container1">
          <p class="text-accent text-number text-number-1">«Подтасовка»</p>
          <add-info heading="«Подтасовка»" >
          <div class="modal_add-info-page-03-05">
            <p class="page_paragraph">Партнер приводит неправдоподобные факты. </p>
          </div>
        </add-info>

        </div>
      </section>
      <section class="page-block-text  block-info">
        <div class="flex-container flex-container1">
          <p class="text-accent text-number text-number-2">«Босс»</p>
          <add-info heading="«Босс»" >
          <div class="modal_add-info-page-03-05">
            <p class="page_paragraph">В последний момент партнер говорит, что ему нужно получить согласие начальника.</p>
          </div>
        </add-info>
        </div>
      </section>
      <section class="page-block-text  block-info">
        <div class="flex-container flex-container1">
        <p class="text-accent text-number text-number-3">«Ложная уступка»</p>
        <add-info heading="«Ложная уступка»" >
          <div class="modal_add-info-page-03-05">
            <p class="page_paragraph">Партнер преподносит легко выполнимое условие как большое одолжение. </p>
          </div>
        </add-info>
      </div>
      </section>
    </div>
    <div class="flex-container flex-container2">
    <section class="page-block-text block-info">
      <div class="flex-container flex-container1">
        <p class="text-accent text-number text-number-4">«Пусть подождет»</p>
        <add-info heading="«Пусть подождет»" >
          <div class="modal_add-info-page-03-05">
            <p class="page_paragraph">Вас заставляют долго ждать в приемной, хотя время встречи было согласовано заранее. </p>
          </div>
        </add-info>

      </div>
    </section>
    <section class="page-block-text  block-info">
      <div class="flex-container flex-container1">
        <p class="text-accent text-number text-number-5">«Добрый полицейский,<br> злой полицейский»</p>
        <add-info heading="«Добрый полицейский, злой полицейский»" >
          <div class="modal_add-info-page-03-05">
            <p class="page_paragraph">Два разных предложения от одной компании: в одном – неприемлемые условия, в другом – невыгодные для вас, но лучше, чем в первом.<br>
              Другой вариант – переговоры ведут два человека, демонстрирующие два разных подхода: мягкий и жесткий.
            </p>
          </div>
        </add-info>
      </div>
    </section>
    <section class="page-block-text  block-info">
      <div class="flex-container flex-container1">
        <p class="text-accent text-number text-number-6">«Требование<br> в последний момент»</p>
        <add-info heading="«Требование в последний момент»" >
          <div class="modal_add-info-page-03-05">
            <p class="page_paragraph">Когда все уже согласовано, оппонент внезапно выдвигает новое требование. </p>
          </div>
        </add-info>
      </div>
    </section>
  </div>
  </div>
  <div class="display_2">
    <div class="flex-container flex-container2">
      <section class="page-block-text block-info">
        <div class="flex-container flex-container1">
          <p class="text-accent text-number text-number-1">«Подтасовка»</p>
          <add-info heading="«Подтасовка»" >
            <div class="modal_add-info-page-03-05">
              <p class="page_paragraph">Партнер приводит неправдоподобные факты. </p>
            </div>
          </add-info>

        </div>
      </section>
      <section class="page-block-text  block-info">
        <div class="flex-container flex-container1">
          <p class="text-accent text-number text-number-2">«Босс»</p>
          <add-info heading="«Босс»" >
            <div class="modal_add-info-page-03-05">
              <p class="page_paragraph">В последний момент партнер говорит, что ему нужно получить согласие начальника.</p>
            </div>
          </add-info>
        </div>
      </section>

    </div>
    <div class="flex-container flex-container2">

      <section class="page-block-text  block-info">
        <div class="flex-container flex-container1">
          <p class="text-accent text-number text-number-3">«Ложная уступка»</p>
          <add-info heading="«Ложная уступка»" >
            <div class="modal_add-info-page-03-05">
              <p class="page_paragraph">Партнер преподносит легко выполнимое условие как большое одолжение. </p>
            </div>
          </add-info>
        </div>
      </section>
      <section class="page-block-text block-info">
        <div class="flex-container flex-container1">
          <p class="text-accent text-number text-number-4">«Пусть подождет»</p>
          <add-info heading="«Пусть подождет»" >
            <div class="modal_add-info-page-03-05">
              <p class="page_paragraph">Вас заставляют долго ждать в приемной, хотя время встречи было согласовано заранее. </p>
            </div>
          </add-info>

        </div>
      </section>
    </div>
    <div class="flex-container flex-container2">
      <section class="page-block-text  block-info">
        <div class="flex-container flex-container1">
          <p class="text-accent text-number text-number-5">«Добрый полицейский,<br> злой полицейский»</p>
          <add-info heading="«Добрый полицейский, злой полицейский»" >
            <div class="modal_add-info-page-03-05">
              <p class="page_paragraph">Два разных предложения от одной компании: в одном – неприемлемые условия, в другом – невыгодные для вас, но лучше, чем в первом.<br>
                Другой вариант – переговоры ведут два человека, демонстрирующие два разных подхода: мягкий и жесткий.
              </p>
            </div>
          </add-info>
        </div>
      </section>
      <section class="page-block-text  block-info">
        <div class="flex-container flex-container1">
          <p class="text-accent text-number text-number-6">«Требование<br> в последний момент»</p>
          <add-info heading="«Требование в последний момент»" >
            <div class="modal_add-info-page-03-05">
              <p class="page_paragraph">Когда все уже согласовано, оппонент внезапно выдвигает новое требование. </p>
            </div>
          </add-info>
        </div>
      </section>
    </div>
  </div>
  <div class="display_3">
    <div class="flex-container flex-container2">
      <section class="page-block-text block-info">
        <div class="flex-container flex-container1">
          <p class="text-accent text-number text-number-1">«Подтасовка»</p>
          <add-info heading="«Подтасовка»" >
            <div class="modal_add-info-page-03-05">
              <p class="page_paragraph">Партнер приводит неправдоподобные факты. </p>
            </div>
          </add-info>

        </div>
      </section>
      <section class="page-block-text  block-info">
        <div class="flex-container flex-container1">
          <p class="text-accent text-number text-number-2">«Босс»</p>
          <add-info heading="«Босс»" >
            <div class="modal_add-info-page-03-05">
              <p class="page_paragraph">В последний момент партнер говорит, что ему нужно получить согласие начальника.</p>
            </div>
          </add-info>
        </div>
      </section>
      <section class="page-block-text  block-info">
        <div class="flex-container flex-container1">
          <p class="text-accent text-number text-number-3">«Ложная уступка»</p>
          <add-info heading="«Ложная уступка»" >
            <div class="modal_add-info-page-03-05">
              <p class="page_paragraph">Партнер преподносит легко выполнимое условие как большое одолжение. </p>
            </div>
          </add-info>
        </div>
      </section>
      <section class="page-block-text block-info">
        <div class="flex-container flex-container1">
          <p class="text-accent text-number text-number-4">«Пусть подождет»</p>
          <add-info heading="«Пусть подождет»" >
            <div class="modal_add-info-page-03-05">
              <p class="page_paragraph">Вас заставляют долго ждать в приемной, хотя время встречи было согласовано заранее. </p>
            </div>
          </add-info>

        </div>
      </section>
      <section class="page-block-text  block-info">
        <div class="flex-container flex-container1">
          <p class="text-accent text-number text-number-5">«Добрый полицейский,<br> злой полицейский»</p>
          <add-info heading="«Добрый полицейский, злой полицейский»" >
            <div class="modal_add-info-page-03-05">
              <p class="page_paragraph">Два разных предложения от одной компании: в одном – неприемлемые условия, в другом – невыгодные для вас, но лучше, чем в первом.<br>
                Другой вариант – переговоры ведут два человека, демонстрирующие два разных подхода: мягкий и жесткий.
              </p>
            </div>
          </add-info>
        </div>
      </section>
      <section class="page-block-text  block-info">
        <div class="flex-container flex-container1">
          <p class="text-accent text-number text-number-6">«Требование<br> в последний момент»</p>
          <add-info heading="«Требование в последний момент»" >
            <div class="modal_add-info-page-03-05">
              <p class="page_paragraph">Когда все уже согласовано, оппонент внезапно выдвигает новое требование. </p>
            </div>
          </add-info>
        </div>
      </section>
    </div>
  </div>

    <div ng-controller="taskTextInput2Ctrl as $ctrl">
      <div class="display_1">
        <section class="flex-container flex-container-video">
          <div class="flex-container-item2" >
            <page-video class="page-video page-video1" videourl="video/139_1.mp4" videoposter="video/posters/139_1.jpg" suburl="video/subtitles/139_1.vtt" videowidth="640" videoheight="480"></page-video>
            <input class="task-input" ng-change="$ctrl.checkA()" ng-model="$ctrl.myValue[0]"   name="item7" type="text" maxlength="1"  placeholder=" Номер уловки"  required>
          </div>
          <div class="flex-container-item2">
            <page-video class="page-video page-video2" videourl="video/139_2.mp4" videoposter="video/posters/139_2.jpg" suburl="video/subtitles/139_2.vtt" videowidth="640" videoheight="480"></page-video>
            <input class="task-input"  ng-change="$ctrl.checkA()"  ng-model="$ctrl.myValue[1]"  name="item8" type="text" maxlength="1"  placeholder=" Номер уловки"  required>
          </div>
          <div class="flex-container-item2">
            <page-video class="page-video page-video3" videourl="video/139_3.mp4" videoposter="video/posters/139_3.jpg" suburl="video/subtitles/139_3.vtt" videowidth="640" videoheight="480"></page-video>
            <input class="task-input" ng-change="$ctrl.checkA()"  ng-model="$ctrl.myValue[2]"  name="item2" type="text" maxlength="1"  placeholder=" Номер уловки"  required>
          </div>
          <div class="flex-container-item2">
            <page-video class="page-video page-video4" videourl="video/139_4.mp4" videoposter="video/posters/139_4.jpg" suburl="video/subtitles/139_4.vtt" videowidth="640" videoheight="480"></page-video>
            <input class="task-input" ng-change="$ctrl.checkA()"  ng-model="$ctrl.myValue[3]"  name="item3" type="text" maxlength="1"  placeholder=" Номер уловки"  required>
          </div>
          <div class="flex-container-item2">
            <page-video class="page-video page-video5" videourl="video/139_5.mp4" videoposter="video/posters/139_5.jpg" suburl="video/subtitles/139_5.vtt" videowidth="640" videoheight="480"></page-video>
            <input  class="task-input" ng-change="$ctrl.checkA()"  ng-model="$ctrl.myValue[4]"  name="item4" type="text" maxlength="1"  placeholder=" Номер уловки"  required>
          </div>
          <div class="flex-container-item2">
          <page-video class="page-video page-video6" videourl="video/139_6.mp4" videoposter="video/posters/139_6.jpg" suburl="video/subtitles/139_6.vtt" videowidth="640" videoheight="480"></page-video>
          <input  class="task-input" ng-change="$ctrl.checkA()"  ng-model="$ctrl.myValue[5]"  name="item5" type="text" maxlength="1"  placeholder=" Номер уловки"  required>
        </div>
        </section>
    </div>
      <div class="display_2">
      <section class="flex-container flex-container-video">
        <div class="flex-container flex-container2">
          <div class="flex-container-item2" >
            <page-video videourl="video/r20.mp4" videoposter="video/posters/20.jpg" suburl="" videowidth="640" videoheight="480"></page-video>
            <input class="task-input" ng-change="$ctrl.checkA()" ng-model="$ctrl.myValue[0]"   name="item7" type="text" maxlength="1"  placeholder=" Номер уловки"  required>
          </div>
          <div class="flex-container-item2">
            <page-video videourl="video/r20.mp4" videoposter="video/posters/20.jpg" suburl="" videowidth="640" videoheight="480"></page-video>
            <input class="task-input"  ng-change="$ctrl.checkA()"  ng-model="$ctrl.myValue[1]"  name="item8" type="text" maxlength="1"  placeholder=" Номер уловки"  required>
          </div>
          <div class="flex-container-item2">
            <page-video videourl="video/r20.mp4" videoposter="video/posters/20.jpg" suburl="" videowidth="640" videoheight="480"></page-video>
            <input class="task-input" ng-change="$ctrl.checkA()"  ng-model="$ctrl.myValue[2]"  name="item2" type="text" maxlength="1"  placeholder=" Номер уловки"  required>
          </div>
        </div>
        <div class="flex-container flex-container2">
          <div class="flex-container-item2">
            <page-video videourl="video/r20.mp4" videoposter="video/posters/20.jpg" suburl="" videowidth="640" videoheight="480"></page-video>
            <input class="task-input" ng-change="$ctrl.checkA()"  ng-model="$ctrl.myValue[3]"  name="item3" type="text" maxlength="1"  placeholder=" Номер уловки"  required>
          </div>
          <div class="flex-container-item2">
            <page-video videourl="video/r20.mp4" videoposter="video/posters/20.jpg" suburl="" videowidth="640" videoheight="480"></page-video>
            <input  class="task-input" ng-change="$ctrl.checkA()"  ng-model="$ctrl.myValue[4]"  name="item4" type="text" maxlength="1"  placeholder=" Номер уловки"  required>
          </div>
          <div class="flex-container-item2">
            <page-video videourl="video/r20.mp4" videoposter="video/posters/20.jpg" suburl="" videowidth="640" videoheight="480"></page-video>
            <input  class="task-input" ng-change="$ctrl.checkA()"  ng-model="$ctrl.myValue[5]"  name="item5" type="text" maxlength="1"  placeholder=" Номер уловки"  required>
          </div>
        </div>
      </section>
    </div>
      <div class="display_3">
        <section class="flex-container flex-container-video">
          <div class="flex-container flex-container3">
            <div class="flex-container-item2" >
              <page-video videourl="video/r20.mp4" videoposter="video/posters/20.jpg" suburl="" videowidth="640" videoheight="480"></page-video>
              <input class="task-input" ng-change="$ctrl.checkA()" ng-model="$ctrl.myValue[0]"   name="item7" type="text" maxlength="1"  placeholder=" № уловки"  required>
            </div>
            <div class="flex-container-item2">
              <page-video videourl="video/r20.mp4" videoposter="video/posters/20.jpg" suburl="" videowidth="640" videoheight="480"></page-video>
              <input class="task-input"  ng-change="$ctrl.checkA()"  ng-model="$ctrl.myValue[1]"  name="item8" type="text" maxlength="1"  placeholder=" № уловки"  required>
            </div>

          </div>
          <div class="flex-container flex-container3">
            <div class="flex-container-item2">
              <page-video videourl="video/r20.mp4" videoposter="video/posters/20.jpg" suburl="" videowidth="640" videoheight="480"></page-video>
              <input class="task-input" ng-change="$ctrl.checkA()"  ng-model="$ctrl.myValue[2]"  name="item2" type="text" maxlength="1"  placeholder=" № уловки"  required>
            </div>
            <div class="flex-container-item2">
              <page-video videourl="video/r20.mp4" videoposter="video/posters/20.jpg" suburl="" videowidth="640" videoheight="480"></page-video>
              <input class="task-input" ng-change="$ctrl.checkA()"  ng-model="$ctrl.myValue[3]"  name="item3" type="text" maxlength="1"  placeholder=" № уловки"  required>
            </div>

          </div>
          <div class="flex-container flex-container3">
            <div class="flex-container-item2">
              <page-video videourl="video/r20.mp4" videoposter="video/posters/20.jpg" suburl="" videowidth="640" videoheight="480"></page-video>
              <input  class="task-input" ng-change="$ctrl.checkA()"  ng-model="$ctrl.myValue[4]"  name="item4" type="text" maxlength="1"  placeholder=" № уловки"  required>
            </div>
            <div class="flex-container-item2">
              <page-video videourl="video/r20.mp4" videoposter="video/posters/20.jpg" suburl="" videowidth="640" videoheight="480"></page-video>
              <input  class="task-input" ng-change="$ctrl.checkA()"  ng-model="$ctrl.myValue[5]"  name="item5" type="text" maxlength="1"  placeholder=" № уловки"  required>
            </div>
          </div>
        </section>
      </div>

      <div class="btn-box" ng-if="!$ctrl.test">
      <button class="btn btn_restart" ng-click="$ctrl.removeRestart()">Начать заново</button>
      <button class="btn btn_answer" ng-class="{'btn_disabled': $ctrl.state == 0 || $ctrl.state == 2}" ng-click="$ctrl.checkAnswer()">Принять ответ</button>
    </div>
  </div>



  <div class="display_3"></div>

</div>
