<p class="text__hint text__hint11">Выберите один или несколько вариантов ответа.</p>

<section class="task-set task-combo-choice">
  <div class="task" 
        ng-init="parentIndex = $index"
        ng-repeat="task in $ctrl.taskExs"
        ng-class="'task-' + task.taskType">
    <p class="task-text">{{task.taskText}}</p>
    <div class="task__combo-choice-body">
      <div class="task__combo-choice-item" 
          ng-repeat="question in task.questionList"
          ng-click="$ctrl.selectAnswer(parentIndex, $index)">
        <div class="task__combo-choice-question task-question" 
            ng-class="{'radio-selected': $ctrl.active[parentIndex][$index].selected}">
          {{question.label}}
        </div>
      </div>
    </div>
  </div>
</section>
<div class="btn-box" ng-if="!$ctrl.test">
  <button class="btn btn_restart" ng-click="$ctrl.removeRestart()">Начать заново</button>
  <button class="btn btn_answer" ng-class="{'btn_disabled': $ctrl.state == 0 || $ctrl.state == 2}" ng-click="$ctrl.checkAnswer($event)">Принять ответ</button>
</div>