<div class="page-container page-82-04">
  <section class="page-head">
    <p>Задание 30</p>
  </section>
  <section class="task-set">
    <div>
      <p class="task-text">Посмотрите киноэпизод. Какие приемы повышения ценности уступок использовал продавец пластиковой посуды?</p>
    </div>
    <page-video videourl="video/119.mp4" videoposter="video/posters/119.jpg" suburl="video/subtitles/45_1.vtt" videowidth="640" videoheight="480"></page-video>
  </section>

  <p class="text__hint">Перетащите название каждого приема на соответствующее место.</p>

  <task-swap-list-sortable></task-swap-list-sortable>
  <!--<div ng-controller="SwapListCtrl as $ctrl">    -->
    <!--<div class="task-swap-list" ng-repeat="task in $ctrl.taskExs" ng-if="!$ctrl.showRight">-->
      <!---->
      <!--<div class="flex-container flex-container_def">-->
        <!--<p class="text-accent">Название приема</p>-->
        <!--<p class="text-accent">Речь продавца</p>-->
      <!--</div> -->

      <!--<ul>-->
        <!--<div class="task-swap-list_item_wrapper" ng-repeat="item in task.questionList" >-->
          <!--<div class="task-swap-list_item_left"><p class="">{{$ctrl.taskData.exs[0].questionList[$index].phrase}}</p></div>-->
          <!--<li class="task-swap-list_item" data-order="{{item.order}}">{{item.label}}</li>-->
        <!--</div>-->
      <!--</ul>-->
    <!--</div>-->

    <!--<div class="task-swap-list task-swap-list__right" ng-repeat="task in $ctrl.taskData.exs" ng-if="$ctrl.showRight">-->
      <!--<div class="flex-container flex-container_def">-->
        <!--<p class="text-accent">Название приема</p>-->
        <!--<p class="text-accent">Речь продавца</p>-->
      <!--</div> -->
      <!--<ul>-->
        <!--<div class="task-swap-list_item_wrapper" ng-repeat="item in task.questionList" >-->
          <!--<div class="task-swap-list_item_left">-->
            <!--<p class="">{{item.phrase}}</p>-->
          <!--</div>-->
          <!--<li class="task-swap-list_item" data-order="{{item.order}}">{{item.label}}</li>-->
        <!--</div>-->
      <!--</ul>-->
    <!--</div>-->

    <!--<div class="btn-box" ng-if="!$ctrl.test">-->
      <!--<button class="btn btn_restart" ng-click="$ctrl.removeRestart()">Начать заново</button>-->
      <!--<button class="btn btn_answer" ng-class="{'btn_disabled': $ctrl.state == 0 || $ctrl.state == 2}" ng-click="$ctrl.checkAnswer()">Принять ответ</button>-->
    <!--</div>-->
  <!--</div>-->

</div>
