<p class="text">{{$ctrl.taskText}}</p>
<div class="moving-blocks moving-blocks_text">
  <div class="moving-blocks__wrapper">
    <div class="moving-blocks__block-wrapper">
      <div class="moving-blocks__item moving-blocks__row" data-section="{{item.order}}" ng-repeat="item in $ctrl.answerList">
        {{item.variant}}
      </div>
    </div>
    <div class="moving-blocks__btn-wrapper">
      <div class="button-box moving-blocks__row" ng-repeat="item in $ctrl.answerList">
        <button class="arrow arrow_down" ng-click="$ctrl.toArrowDown($event)"></button>
      </div>
    </div>
    <div class="moving-blocks__btn-wrapper">
      <div class="button-box moving-blocks__row" ng-repeat="item in $ctrl.answerList">
        <button class="arrow arrow_up" ng-click="$ctrl.toArrowUp($event)"></button>
      </div>
    </div>
  </div>
</div>
<div class="btn-box">
  <button class="btn btn_restart" ng-click="$ctrl.removeRestart()">Начать заново</button>
  <button class="btn btn_answer" ng-click="$ctrl.checkAnswer()">Принять ответ</button>  
</div>