<div class="page-container">
    <p class="text">На предприятии есть два основных вида отчетов:</p>

    <div class="tabs tabs_page-07-11">
        <div class="tabs__item tabs__item_page-05-03"
             ng-class="{'tab__item_active tab__item_page-05-03_active': $ctrl.tabNum === 1}"
             ng-click="$ctrl.tabNum = 1">
            <p class="tabs__text">Отчеты управления KPIs (KPI-отчеты) </p>
        </div>
        <div class="tabs__item tabs__item_page-05-03"
             ng-class="{'tab__item_active tab__item_page-05-03_active': $ctrl.tabNum === 2}"
             ng-click="$ctrl.tabNum = 2">
            <p class="tabs__text">Разовые отчеты</p>
        </div>
    </div>

    <div class="tab-content  text" ng-show="$ctrl.tabNum === 1">
        <img class="simple-img"
                 src="pages/chapter05/page03/img/05-03-01.svg"
                 alt="Отчеты" width="240">
        <p class="text">Отчеты управления KPIs, или KPI-отчеты, называют также постоянными/управленческими отчетами. Они нужны для оперативного реагирования на отклонения, анализа результатов подразделения/процесса и достижения установленных KPIs.
        </p>
        <p class="text"><span class="text_bold">Для таких постоянных отчетов должен использоваться единый утвержденный шаблон.</span>
        </p>
        <p class="text">Использование утвержденного шаблона обязательно и не подлежит обсуждению. На основе утвержденного шаблона каждая функция определяет набор KPIs/PIs, которые будут входить в отчет. Появляется так называемый темплейт KPI-отчета функции. Ответственность за подготовку темплейтов KPI-отчетов своей функции несет руководитель центральной функции.
        </p>
        <p class="text">Для заводов это руководители производственного управления. Готовые темплейты передаются для заполнения на заводы/подразделения операционной компании.
        </p>
    </div>

    <div class="tab-content" ng-show="$ctrl.tabNum === 2">
        <p class="text">Разовые отчеты – это отчеты, которые создаются для анализа результатов конкретного проекта и устанавливаются только на период реализации проекта.
        </p>
        <p class="text"><span class="text_bold">Разовые отчеты могут составляться в свободной форме – графической или цифровой. Форму каждого разового отчета должен определять руководитель проекта и его заказчик </span>(внешний или внутренний).
        </p>
        <div class="banner-container">
            <img class="banner-container__img banner-container__img_page-05-03"
                 src="pages/chapter05/page03/img/05-03-02.svg"
                 alt="Отчеты" width="440">
        </div>
    </div>

    <p class="text text_highlight">
        В любом виде отчета обязательно должна быть следующая информация: план-факт-отклонение по установленному показателю!
    </p>

</div>