<div class="page-container">
	<p class="text">Любое современное предприятие использует для оценки своих производственных и финансовых результатов различные показатели. Иными словами, показатель – это инструмент измерения результатов, а также критических точек бизнес-процессов путем сравнения факта с плановым значением.</p>
	<p class="text">Все показатели делятся на два основных вида – KPIs и PIs. Давайте разберемся, что означают эти английские названия.</p> 

      <div class="tabs">
        <div class="tabs__item "
             ng-class="{'tab__item_active tab__item_page-05-03_active': $ctrl.tabNum === 1}"
             ng-click="$ctrl.tabNum = 1">
            <p class="tabs__text">Key Performance Indicators</p>
        </div>
        <div class="tabs__item "
             ng-class="{'tab__item_active tab__item_page-05-03_active': $ctrl.tabNum === 2}"
             ng-click="$ctrl.tabNum = 2">
            <p class="tabs__text">Performance Indicators</p>
        </div>

    </div>
  <div class="container_page-04-02 text" ng-show="$ctrl.tabNum === 1">
  	<p class="text"><span class="text_bold">KPIs (Key Performance Indicators) или ключевые показатели эффективности</span> – это основные количественные показатели для измерения результатов, достигнутых предприятием в целом, его подразделениями и отдельными сотрудниками.</p>
		<div class="banner-container">
			<img class="banner-container__img" 
					 src="pages/chapter04/page02/img/person_1.svg" 
					 alt="Мужчина со шкалой KPI"
					 height="204">
		</div>
  </div>
  <div class="container_page-04-02 text" ng-show="$ctrl.tabNum === 2">
  	<p class="text"><span class="text_bold">PIs (Performance Indicators) или показатели контроля процессов</span> – это количественные показатели, которые позволяют контролировать непосредственно протекание самих процессов на предприятии.</p>
		<div class="banner-container">
			<img class="banner-container__img" 
					 src="pages/chapter04/page02/img/person_2.svg" 
					 alt="Женщина со шкалой PI"
					 height="227">
		</div>
  </div>	
  <p class="text">Таким образом мы измеряем результат (KPI) и контролируем процесс (PI).</p>
	<add-info data-position="left" data-heading="Это интересно!">
		<p class="text text_bold">Взаимосвязь KPIs и PIs</p>
		<p class="text">KPIs и PIs тесно взаимосвязаны, ведь достижение результата всегда зависит от организации процесса. Кроме того, один и тот же показатель может для одних сотрудников выполнять функцию KPI, а для других быть PI – все зависит от точки зрения. Например, количество брака на производственном участке – это KPI, то есть показатель результативности, для конкретного оператора участка, но PI, то есть показатель контроля процесса, для начальника цеха.</p>
	</add-info>
</div>