.audio {
    display: flex;
    align-items: center;
    width: 402px;

    input[type="range"] {
      -webkit-appearance: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      height: 10px;
      margin: 0;
      padding: 0;  
      background: #d1d3d4;
      border: none;
      border-radius: 10px;
      box-shadow: inset 0 1px 0 0 #989898, inset 0 -1px 0 0 #989898;
      outline: none; /* no focus outline */
    }

    input[type="range"]::-moz-range-track {
      background: transparent;
      border: inherit;
    }

    input[type="range"]::-ms-track {
      color: transparent; /* don't drawn vertical reference line */
      background: transparent;
      border: inherit;
    }

    input[type="range"]::-ms-fill-lower,
    input[type="range"]::-ms-fill-upper {
      background: transparent;
    }

    input[type="range"]::-ms-tooltip {
      display: none;
    }

    /* thumb */

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 14px;
      height: 14px;
      background: #fff;
      border: none;
      border-radius: 12px;
      box-shadow: 0 0 1px #000;
      cursor: pointer;
    }
    input[type="range"]::-moz-range-thumb {
      width: 14px;
      height: 14px;
      background: #fff;
      border: none;
      border-radius: 12px;
      box-shadow: 0 0 1px #000;
      cursor: pointer;
    }

    input[type="range"]::-ms-thumb {
      width: 14px;
      height: 14px;
      background: #fff;
      border: 0;
      border-radius: 12px;
      box-shadow: 0 0 1px #000;
      cursor: pointer;
    }
  }
.audio__seek-slider {
  display: inline;
  width: 56%;
}
.audio__volume-slider {
  display: inline;
  width: 20%;
}
.audio.no-audio {
  pointer-events: none;

  input[type="range"] {
    background: $disable-color;
    box-shadow: inset 0 1px 0 0 $disable-color, inset 0 -1px 0 0 $disable-color;
  }
  input[type="range"]::-webkit-slider-thumb {
    background: $disable-color;
    box-shadow: 0 0 1px #ccc;
  }
  input[type="range"]::-moz-range-thumb {
    background: $disable-color;
    box-shadow: 0 0 1px #ccc;
  }
  input[type="range"]::-ms-thumb {
    background: $disable-color;
    box-shadow: 0 0 1px #ccc;
  }
}

@media #{$tablet} {
  .audio {
    width: 44px;
  }
  .audio__seek-slider,
  .audio__time-display,
  .audio__volume-slider {
    display: none;
  }
}