.page-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  width: 200px;

  button {
    width: 110px;
    height: 80px;
    border: none;
    background: #333;
    cursor: pointer;
  }

  .page-video_text {
    font-size: 14px;
    color: #aaa;
  }
}