.task__single-choice-item {
	cursor: pointer;
	margin-bottom: 15px;
	padding: 3px 0px;
}
.task__single-choice-question {
	position: relative;

	
	margin-left: 35px;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: -35px;
		width: 22px;
		height: 22px;
		border: 2px solid $first-color;
		border-radius: 50%;
		box-sizing: border-box;
		transition: border .4s;
	}
	&:after {
		content: '';
		position: absolute;
		top: 11px;
		left: -24px;
		width: 0px;
		height: 0px;
		border-radius: 50%;
		background: $first-color;
		box-sizing: border-box;
		transition: all .4s;
	}
	&.radio-selected:before {
		border: 3px solid $first-color;
	}
	&.radio-selected:after {
		top: 6px;
		left: -29px;
		width: 10px;
		height: 10px;
	}
}
	