.task__marker-choice-body {
  display: flex;
  margin-bottom: 25px;
  .btn_task-video {
    width: 312px;
    height: 230px;
    border: none;
  }
  .task__marker-choice_items {
    padding-left: 20px;
    .task__marker-choice-item {
      margin-bottom: 20px;
      cursor: pointer;
    }
  }
}
.marker-box {
  margin-bottom: 25px;
}
.btn_task-marker__green {
  background: url(../img/tasks/marker-green.png) no-repeat;
  width: 130px;
  height: 90px;
}
[data = 'marker1'] {
  background: #B3DF3E;
}
[data = 'marker0'] {
  background: #EA4F33;
}
.btn_task-marker__red {
  background: url(../img/tasks/marker-red.png) no-repeat;
  width: 130px;
  height: 90px;
}
.btn_task-marker__green.selected,
.btn_task-marker__red.selected {
  box-shadow: 0 0 0 3px #666 inset;
  border-radius: 15px;
}

@media #{$tablet} {
  .task__marker-choice-body {
    flex-direction: column;
    align-items: center;
  }
}
