.container {
    position: relative;
    background: url('../img/2_1.jpg')  no-repeat;
    padding-top: 0px;
}

.page__block_2 {
    position: absolute;
    top: 152px;
    left: 298px;
    border: 1px solid #bbcadf;
    border-radius: 10px;
    z-index: 3;
    content: '';
    padding: 0px 7px;
    width: 435px;
    height: 135px;
    z-index: 1;
    text-align: center;
    background: rgba(0,48,116,0.9);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
}
.page__block--bg {
    /*z-index: 1;*/
    /*background: #ffffff;*/
}
.page__block_2_input{
    margin: 19px 0 0;
    width: 280px;
    text-align: center;
    /*margin: 50px;*/
    /*color: #fff;*/
    font-family: 'Verdana Regular', sans-serif;
    font-size: 16px;
    /*line-height: 1.4;*/
}
.page__block_2_btn{
    padding: 2px 5px 2px 5px;
    font-family: 'Verdana Bold', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #002F75;
    background-color: #ffffff;
    border: 1px solid #93BAF3;
    border-radius: 5px;
}
.page__block_2_btn:hover{
    cursor: pointer;
     color: #ffffff;
     background-color: #002F75;
 }
.page__block_2_btn:disabled  {
    cursor: default;
    color: #bebebe;
    /*background-color: #002F75;*/
    background: rgba(0, 47, 117, 0.5);
}

.page__text {
    padding: 0 10px 0;
    color: #ffffff;
}
.page__text.text-1 {
    padding-top: 10px;
    margin-bottom: 17px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}
.page__text.text-3 {
    padding-bottom: 10px;
}
.page__bubble_left_lower{
    top: 53px;
    height:60px;
}