<footer class="footer">
	<custom-audio module="{{$ctrl.moduleNum}}" page="{{$ctrl.pageNum}}"></custom-audio>
	<button class="btn btn_nav btn_nav-back" 
					ng-class="{'btn_nav-back-disabled': $ctrl.curPageNum === '1'}"
					ng-click="$ctrl.toBack()">
		<svg viewBox="0 0 104 40">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" 
					 xlink:href="#btn_nav-back">
			</use>
		</svg>				
	</button>
	<button class="btn btn_current-page">{{$ctrl.curPageNum}} / {{$ctrl.pageAmount}} </button>
	<button class="btn btn_nav btn_nav-forward" 
					ng-class="{'btn_nav-forward-disabled': $ctrl.curPageNum === $ctrl.pageAmount}"
					ng-click="$ctrl.toForward()">
		<svg viewBox="0 0 104 40">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" 
					 xlink:href="#btn_nav-forward">
			</use>
		</svg>
	</button>
</footer>