.page-02-01 {
  .page-head {
    // padding-bottom: 15px;
    // border-bottom: 1px solid #ccc;
    margin-top: 20px;
    text-transform: uppercase;
    color: $chapter-color1;
    font-size: 26px;
  }
  .text-accent {
    // font-weight: bold;
    color: $chapter-color1;
  }
  .page-block1 {
    display: flex;
  }
  .page-block1 p {
    padding-bottom: 15px;
    // border-bottom: 1px dotted #000;
  }
  page-video {
    width: 330px;
    margin: 0 20px;
  }
  .page-video {
    width: auto;
    margin: 0;
    button {
      width: 330px;
      height: 238px;
      background: url(../img/video-01.png) no-repeat;
      background-size: cover;
    }
  }
  .page-block2 {
    display: flex;
  }
  .page-block2 ul {
    padding-bottom: 15px;
    margin: 0 10px;
    // border-bottom: 1px dotted #000;
  }
  .page-block2 li {
    position: relative;
    padding-left: 15px;
    font-size: 18px;
    list-style: none;
  }
  .page-block2 li:before {
    content: '';
    position: absolute;
    top: 4px;
    left: -15px;
    width: 14px;
    height: 14px;
    border: 1px solid $chapter-color1;
    box-sizing: border-box;
    // background: linear-gradient(135deg, #d5006a 0%,#ffffff 70%,#ffffff 100%);
    background: $chapter-color1-1;
  }
  .page-block2 li:nth-child(1) {
    animation: fade-in-left-1 4s;
  }
  .page-block2 li:nth-child(2) {
    animation: fade-in-left-2 4s;
  }
  .page-block2 li:nth-child(3) {
    animation: fade-in-left-3 4s;
  }
  .page-block2 li:nth-child(4) {
    animation: fade-in-left-4 4s;
  }
  .page-block2 li:nth-child(5) {
    animation: fade-in-left-5 4s;
  }
  .page-block2 li:nth-child(6) {
    animation: fade-in-left-6 4s;
  }
  .page-block2 li:nth-child(7) {
    animation: fade-in-left-7 4s;
  }
}

@media #{$tablet} {
  .page-02-01 {
    overflow: auto;
  }
}
@media #{$mobile} {}