<div class="page-container task-note-style page-44-04">
    <section class="page-head">
        <p>Записная книжка. Задание&nbsp;11 </p>
    </section>

    <section class="page-block-text">
      <p>Выберите клиента, с которым вам предстоит провести переговоры в ближайшее время. Перечислите самые сильные аргументы, говорящие в защиту вашей позиции. Продумайте, как вы ответите на возможные контраргументы.</p>
      <p class="text__hint">Введите ответ с помощью клавиатуры.</p>
  </section>

  <!-- <div class="desktop"> -->
      <task-note></task-note>
  <!-- </div> -->

  <!-- <div ng-controller="NoteCtrl as $ctrl" class="mobile">
      <div class="task-note">
        <div class="task-note__body flex-container__task-note">
            <div ng-repeat="n in [0, 1, 2, 3]"
                    ng-init="rowIndex = $index"
                    class="flex-container__task-note_row">
                <div class="flex-container__task-note__item"
                            ng-repeat="column in $ctrl.titles track by $index"
                            ng-init="columnIndex = $index">
                    <div class="task-title" ng-show="$ctrl.taskData.showTitle">{{column}} {{rowIndex + 1}}:</div>
                    <div class="task-note_column">
                        <textarea class="task-note_item_input" maxlength="{{$ctrl.taskData.maxlength}}">{{$ctrl.items.fields[rowIndex + columnIndex*4].text}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="btn-box">
        <button class="btn btn_answer" ng-click="$ctrl.saveNote()">СОХРАНИТЬ</button>
    </section>
  </div> -->
</div>
