.container {
	position: relative;
	background: url('../img/16_01.jpg')  no-repeat;
	padding-top: 0px;
}


.page__bubble_right_top--bubble2 {
	top: 160px;
	height: 41px;
}
.page__bubble_down_left{
	left: 350px;
	top: 170px;
	height: 255px;
	width: 615px;
}
.page__bubble_down_left:after {
	right: 200px;
}

#task-container{
	height: 94px;
}
#task-btns{
	margin-left: -30px;
	margin-top: 144px;
}


.page__wrapper--right {
	float: right;
	width: 189px;
	margin-right: 22px;
}

.page__wrapper--left {
	width: 590px;
	margin-left: 10px;
	height: 125px;
}
.page__item-wrapper1 {
	height: 77px;
	width: 590px;

}

.page__item-wrapper--image {
	position: absolute;
	top: 50%;
	left: 35px;
	z-index: -1;
	margin-top: -19px;
}

.page__question_container{
	top: 130px;
	left: 350px;
}
.page__bubble_right_lower{
	top: 180px;
	left: 217px;
	width: 550px;
	height: 60px;
}
.page__bubble_left_lower{
	top: 15px;
	left: 312px;
	height: 90px;
	width: 550px;
}

