.page-05-03_content {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}
.page-05-03_activity {
  position: relative;
  width: 580px;
  height: 300px;
  margin: 0 0 30px 0;

  .page-05-03_activity_item {
    position: absolute;
    &.page-05-03_activity_item__control {
      top: calc(50% - 25px);
      left: 15px;
    }
    &.page-05-03_activity_item__plan {
      top: 0;
      left: calc(50% - 95px);
    }
    &.page-05-03_activity_item__org {
      top: calc(50% - 25px);
      right: 15px;
    }
    &.page-05-03_activity_item__motiv {
      bottom: 0;
      left: calc(50% - 95px);
    }
    .page-05-03_item__text {
      width: 190px;
      height: 50px; 
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      color: #666;
      background: rgb(237,249,245);
      border: 2px solid rgb(102,207,176);
    }
  }
  .activity-arrow {
    position: absolute;
    width: 200px;
    height: 60px;
    background: url(../img/arrow.png) no-repeat 50% 50%;
    
    &.activity-arrow__control {
      top: calc(50% - 118px);
      left: calc(50% - 285px);
      transform: rotate(-32deg);
      animation-name: arrow1;
      animation-duration: 10s;
    }
    &.activity-arrow__plan {
      top: calc(50% - 118px);
      right: calc(50% - 285px);
      transform: rotate(32deg);
      animation-name: arrow2;
      animation-duration: 10s;
    }
    &.activity-arrow__org {
      bottom: calc(50% - 118px);
      right: calc(50% - 285px);
      transform: rotate(152deg);
      animation-name: arrow3;
      animation-duration: 10s;
      
      p {
        transform: rotate(180deg);
      }
    }
    &.activity-arrow__motiv {
      bottom: calc(50% - 118px);
      left: calc(50% - 285px);
      transform: rotate(-152deg);
      animation-name: arrow4;
      animation-duration: 10s;

      p {
        transform: rotate(180deg);
      }
    }

    p {
      height: 30px;
      margin: 0;
      line-height: 30px;
      color: #666;
      text-align: center;
    }
  }
}
.page-05-03_descript {
  padding-left: 30px;
  .page-05-03_descript_item {
    position: relative;
    width: 300px;
    margin-bottom: 20px;
    font-size: 18px;
    &:before {
      content: '';
      position: absolute;
      top: 7px;
      left: -20px;
      width: 7px;
      height: 7px;
      background: #989898;
      border-radius: 50%;
    }
  }
}


@media #{$tablet} {
  .page-05-03 {
    overflow: auto;
  }
  .page-05-03_content {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .page-05-03_activity {
    width: calc(100% - 30px);
    height: 275px;
    .page-05-03_activity_item {
      &.page-05-03_activity_item__control {
        top: calc(50% - 22px);
        left: 0;
      }
      &.page-05-03_activity_item__plan {
        top: 0;
        left: calc(50% - 85px);
      }
      &.page-05-03_activity_item__org {
        top: calc(50% - 22px);
        right: 0;
      }
      &.page-05-03_activity_item__motiv {
        bottom: 0;
        left: calc(50% - 85px);
      }
      .page-05-03_item__text {
        width: 170px;
        height: 45px;
      }
    }

    .activity-arrow {
      position: absolute;
      width: 200px;
      height: 60px;
      background: url(../img/arrow.png) no-repeat 50% 50%;
      
      &.activity-arrow__control {
        left: calc(50% - 265px);
      }
      &.activity-arrow__plan {
        right: calc(50% - 265px);
      }
      &.activity-arrow__org {
        right: calc(50% - 265px);
      }
      &.activity-arrow__motiv {
        left: calc(50% - 265px);
      }
    }
  }
  .page-05-03_descript {
    padding-left: 45px;
    width: calc(100% - 45px);
    .page-05-03_descript_item {
      width: calc(100% - 50px);
      margin-bottom: 10px;
    }
  }
}

@media #{$mobile} {
  .page-05-03 {
    overflow: auto;
    background-size: contain;
    .page-05-03_activity {
      .page-05-03_activity_item {
        .page-05-03_item__text {
          width: 150px;
        }
      }
      .activity-arrow {
        width: 165px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: url(../img/arrow_turn1.svg) no-repeat;
        &.activity-arrow__control {
          top: calc(50% - 105px);
          left: 0px;
          transform: rotate(0deg);
        }
        &.activity-arrow__plan {
          top: calc(50% - 105px);
          right: 0px;
          transform: rotate(0deg);
          background: url(../img/arrow_turn2.svg) no-repeat 100% 0%;
          background-size: contain;
          padding-right: 6px;
        }
        &.activity-arrow__org {
          bottom: calc(50% - 105px);
          right: 0px;
          transform: rotate(180deg);
        }
        &.activity-arrow__motiv {
          bottom: calc(50% - 105px);
          left: 0px;
          transform: rotate(180deg);
          background: url(../img/arrow_turn2.svg) no-repeat 100% 0%;
          background-size: contain;
          padding-right: 6px;
        }

        p {
          height: auto;
          line-height: 1;
        }
      }

    }
  }
}