.page-04-03 {
  overflow: auto;
  .task__marker-choice_video {
    margin-bottom: 20px;
    margin-left: 20px;
    order: 1;
  }
  .task__marker-choice-body {
    flex-wrap: wrap;
  }
  .task__marker-choice_items {
    padding-right: 10px;
    flex-grow: 2;
    flex-basis: 50%;
    order: 2;
    .task__marker-choice-item {
      margin-bottom: 15px;
      padding: 5px 0 5px 5px;
      border: 1px solid #ccc;
      border-radius: 10px;
    }
  }
  .marker-box {
    width: 100%;
    text-align: center;
    order: 3;
  }

  .btn_task-video svg {
    height: 50px;
  }
  
}
@media #{$tablet} {
  .page-04-03 {
    .task__marker-choice_items {
      order: 3;
      flex-basis: auto;
      .task__marker-choice-item {
        margin-bottom: 15px;
      }
    }
    .marker-box {
      order: 2;
    }

  }
}

@media #{$mobile} {
  .task__marker-choice_video {
    margin-left: 0px;
  }
}