.page-03-03 {

  .page_paragraph {
    // margin-top: 30px;
    margin-bottom: 60px;
  }

  .page-03-03_activity {
    position: relative;
    width: 80%;
    height: 300px;
    margin: auto;

    .page-03-03_activity_item {
      position: absolute;
      &.page-03-03_activity_item__control {
        top: calc(50% - 25px);
        left: 0;
      }
      &.page-03-03_activity_item__plan {
        top: 0;
        left: calc(50% - 100px);
      }
      &.page-03-03_activity_item__org {
        top: calc(50% - 25px);
        right: 0;
      }
      &.page-03-03_activity_item__motiv {
        bottom: 0;
        left: calc(50% - 100px);
      }
      .page-03-03_item__text {
        width: 200px;
        height: 50px; 
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        color: #666;
        background: rgb(237,249,245);
        border: 2px solid rgb(102,207,176);
      }
    }

    .activity-arrow {
      position: absolute;
      width: 200px;
      height: 60px;
      background: url(../img/arrow.png) no-repeat 50% 50%;
      
      &.activity-arrow__control {
        top: calc(50% - 118px);
        left: calc(50% - 285px);
        transform: rotate(-32deg);
        animation: arrow1 10s;
      }
      &.activity-arrow__plan {
        top: calc(50% - 118px);
        right: calc(50% - 285px);
        transform: rotate(32deg);
        animation: arrow2 10s;
      }
      &.activity-arrow__org {
        bottom: calc(50% - 118px);
        right: calc(50% - 285px);
        transform: rotate(152deg);
        animation: arrow3 10s;
        p {
          transform: rotate(180deg);
        }
      }
      &.activity-arrow__motiv {
        bottom: calc(50% - 118px);
        left: calc(50% - 285px);
        transform: rotate(-152deg);
        animation: arrow4 10s;
        p {
          transform: rotate(180deg);
        }
      }

      p {
        height: 30px;
        margin: 0;
        line-height: 30px;
        color: #666;
        text-align: center;
      }
    }
  }
}

@media #{$tablet} {
  .page-03-03 {
    overflow: auto;
  
    .page-03-03_activity {
      width: calc(100% - 30px);
      height: 275px;
      .page-03-03_activity_item {
        &.page-03-03_activity_item__control {
          top: calc(50% - 22px);
          left: 0;
        }
        &.page-03-03_activity_item__plan {
          top: 0;
          left: calc(50% - 85px);
        }
        &.page-03-03_activity_item__org {
          top: calc(50% - 22px);
          right: 0;
        }
        &.page-03-03_activity_item__motiv {
          bottom: 0;
          left: calc(50% - 85px);
        }
        .page-03-03_item__text {
          width: 170px;
          height: 45px;
        }
      }

      .activity-arrow {
        position: absolute;
        width: 200px;
        height: 60px;
        background: url(../img/arrow.png) no-repeat 50% 50%;
        
        &.activity-arrow__control {
          left: calc(50% - 265px);
        }
        &.activity-arrow__plan {
          right: calc(50% - 265px);
        }
        &.activity-arrow__org {
          right: calc(50% - 265px);
        }
        &.activity-arrow__motiv {
          left: calc(50% - 265px);
        }
      }
    }
  }
}

@media #{$mobile} {
  .page-03-03 {
    .page-03-03_activity {
      .page-03-03_activity_item {
        .page-03-03_item__text {
          width: 150px;
        }
      }
      .activity-arrow {
        width: 165px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: url(../img/arrow_turn1.svg) no-repeat;
        &.activity-arrow__control {
          top: calc(50% - 105px);
          left: 0px;
          transform: rotate(0deg);
        }
        &.activity-arrow__plan {
          top: calc(50% - 105px);
          right: 0px;
          transform: rotate(0deg);
          background: url(../img/arrow_turn2.svg) no-repeat 100% 0%;
          background-size: contain;
          padding-right: 6px;
        }
        &.activity-arrow__org {
          bottom: calc(50% - 105px);
          right: 0px;
          transform: rotate(180deg);
        }
        &.activity-arrow__motiv {
          bottom: calc(50% - 105px);
          left: 0px;
          transform: rotate(180deg);
          background: url(../img/arrow_turn2.svg) no-repeat 100% 0%;
          background-size: contain;
          padding-right: 6px;
        }

        p {
          height: auto;
          line-height: 1;
        }
      }
    }
  }
}