.wrapper {
	position: relative;
	font-size: 18px;
	-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.table__box {
	display: table;
	width: 100%;
}

.table__th-row,
.table__td-row {
	display: table-row;
}

.table__td-row {
	margin-bottom: 10px;
}

.table__th,
.table__td-cell {
	display: table-cell;
	width: calc(100% / 3);
	vertical-align: top;
    border-right: 4px solid #efeff9;
}

.table__th:last-child,
.table__td-cell:last-child {
	border-right: none;
}

.table__td-cell {
	height: 200px;
}

.table__th {
	padding: 10px;
	text-align: center;
}

.table__td-cell {
	padding-left: 10px;
}

.wrapper__box {
	margin: 10px 0 0;
    padding: 12px;
    width: 100%;
    font-size: 0;
}

.table__td {
	display: inline-block;
    padding: 2px 6px;
    vertical-align: top;
    font-size: 16px;
    background: #efeff9;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.drag {
	box-shadow: 0 1px 5px 0 #666;
}