a {
    color: #7c002f;
}
a:visited {
    color: #000;
}
.container {
	padding-top: 0;
	position: relative;
}
.subtext {
    position: absolute;
    top: 8px;
	left: 505px;
    display: none;
    padding: 10px;
    width: 485px;
	height: 287px;
    background: #f2f2f2;
	border: 1px solid #999;
}

.page__text1:hover .subtext {
	display: block;
}

.page__block--left {
	float: left;
	height: 355px;
	padding: 30px 20px 30px 30px;
}

.page__block--right {
	float: right;
	width: 465px;
	padding: 15px 10px 10px 10px;
}
.page__block--bottom {
	float: left;
}

.page__item {
	margin-bottom: 10px;
	margin-left: 55px;
	font-size: 16px;
	font-family: "Arial", sans-serif;
	line-height: 1.4;
	width: 930px;

	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

	/* IE 5-7 */
	filter: alpha(opacity=0);

	/* Netscape */
	-moz-opacity: 0;

	/* Safari 1.x */
	-khtml-opacity: 0;

	/* Good browsers */
	opacity: 0;
}


.page__text--important {
	position: relative;
	width: 975px;
	padding: 0;
	margin: 10px 0px 0px 10px;
	border: 2px solid #7c002f;
}
.page__text--important .text {
	margin: 20px;
	margin-left: 65px;
	display: block;
}

.page__text--important-before {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	left: 20px;
	width: 32px;
	height: 50px;
	background: url(../img/element0002.png);
}
