<div class="page-container page-31-03 page-task">
  <section class="page-head">
  	<p>ЗАДАНИЕ 30</p>
  </section>
  <section class="flex-container">
  <p class="task-text">Посмотрите киноэпизод. Отметьте, какое поведение продавца вызвало негативную реакцию клиента.</p>
  <section class="page-video-container">
    <page-video videourl="video/r26.mp4" videoposter="video/posters/26.jpg" suburl="" videowidth="640" videoheight="480"></page-video>
  </section>
  </section>
  <!-- <task-combo-choice></task-combo-choice> -->
  <!-- <task-multi-choice></task-multi-choice> -->
  <section ng-controller="MultiChoiceCtrl as $ctrl">
    <strong>
      <p class="text-accent" compile="$ctrl.taskText"></p>
    </strong>
    <p class="text__hint">Выберите один или несколько вариантов ответа.</p>
    <div class="task-multi-choice">
      <div class="task__multi-choice-body">
        <div class="task__multi-choice-item"
            ng-repeat="question in $ctrl.questionList"
            ng-click="$ctrl.selectAnswer($index)">
              <div class="" ng-show="$index == 0 ||
              $index == 1 ||
              $index == 2 ||
              $index == 3 ||
              $index == 4 ||
              $index == 5 ||
              $index == 6 ">
                <div class="task__multi-choice-question task-question"
                    ng-class="{'radio-selected': $ctrl.active[$index].selected}">
                  {{question.label}}
                </div>
              </div>
        </div>
      </div>

      <div class="task__multi-choice-body">
          <div class="task__multi-choice-item"
              ng-repeat="question in $ctrl.questionList"
              ng-click="$ctrl.selectAnswer($index)">
                <div class="" ng-show="$index == 7 ||
                $index == 8 ||
                $index == 9 ||
                $index == 10 ||
                $index == 11 ||
                $index == 12 ||
                $index == 13 ">
                  <div class="task__multi-choice-question task-question"
                      ng-class="{'radio-selected': $ctrl.active[$index].selected}">
                    {{question.label}}
                  </div>
                </div>
          </div>
      </div>
    </div>

    <div class="btn-box" ng-if="!$ctrl.test">
      <button class="btn btn_restart" ng-click="$ctrl.removeRestart()">Начать заново</button>
      <button class="btn btn_answer" ng-class="{'btn_disabled': $ctrl.state == 0 || $ctrl.state == 2}" ng-click="$ctrl.checkAnswer($event)">Принять ответ</button>
    </div>

  </section>
</div>
