#accordion .page__header {
	position: relative;
	min-height: 36px;
	padding: 0;
	padding-left: 60px;
}
#accordion .page__header b{
    padding: 7px 0px 0px 5px;
    display: block;
}

#accordion .page__header--7 {
	position: relative;
	height: 55px;
	padding-left: 60px;
}

.page__header-before {
	position: absolute;
	top: 2px;
	left: 7px;
	content: '';
	width: 38px;
	height: 30px;
	background: url(../img/05.png);
	background-position: 0px 0;
}

.ui-widget-content {
	font-size: 16px;
	font-family: "Arial", sans-serif;
	line-height: 1.4;
  	margin-left: 10px;
	margin-right: 10px;
	border: none;
}

#accordion .ui-state-active {
	background: rgb(124,0,47);
	border: none;
	outline: none;
}

.ui-accordion .ui-accordion-content {
  	margin-left: 0px;
	margin-right: 0px;
	padding: 10px;
  	background: #f2f2f2;
	border: none;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active {
	margin-top: 10px;
	background: rgb(124,124,124);
	color: #fff;
	border: none;
	outline: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	background: rgb(124,0,47);
	border: none;
	outline: none;
}

a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	background: #F6F6F6;
	color: #000;
	border: 1px solid #ddd;
	outline: none;
}